{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matéria</title>

    <link rel="shortcut icon" href="{% static 'image/UnBook_page.ico' %}" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" /> <!-- LINK PARA FONTE MONSTSERRAT -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dXNqKx4j/gHTj3+mqbrjvff3FqPXAxcl3r4G/C4fFzR7P1+Sl0o2Z6oIs8zHlw0cJywKnYz7H7BGzJgDi4mZYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- LINK PARA FONTE AWESOME (USADO NAS ESTRELAS) -->

    <link rel="stylesheet" href="{% static 'css/styles_(Materia.html).css' %}" /> <!-- LINK PARA PARA CSS DA PÁGINA -->
  </head>

  <body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
      csrf_token = '{{ csrf_token }}'
      nome = '{{ turma.professor.nome }}'
      codigo = '{{ turma.materia.codigo }}'
      nota_dificuldade = '{{ turma.avaliacao_dificuldade }}'
      nota_apoio = '{{ turma.avaliacao_apoio_aluno}}'
      nota_didatica = '{{ turma.avaliacao_didatica}}'
    </script>

    <div id="fundo_blur"></div>
    <div id="modal_avaliacao">
      <div id="avaliacao">
        <h1 class="CampoFalado1">Avaliações</h1>

        <div id="scroll_modal">
          <div id="boxes_modal">
            <div class="boxes_modal" id="box_modal_1">
              <h2 class="CampoFalado2_modal">Dificuldade</h2>
              <h4 class="CampoFalado3_modal">Informe sua dificuldade ao realizar essa matéria</h4>

              <fieldset class="rating_modal" id="Dificuldade">
                <input type="radio" id="star5_Dificuldade" name="rating_Dificuldade" value="5" />
                <label for="star5_Dificuldade" class="full" title="Awesome"></label>
                <input type="radio" id="star4.5_Dificuldade" name="rating_Dificuldade" value="4.5" /><label for="star4.5_Dificuldade" class="half" title="Awesome"></label>
                <input type="radio" id="star4_Dificuldade" name="rating_Dificuldade" value="4" /><label for="star4_Dificuldade" class="full" title="Awesome"></label>
                <input type="radio" id="star3.5_Dificuldade" name="rating_Dificuldade" value="3.5" /><label for="star3.5_Dificuldade" class="half" title="Awesome"></label>
                <input type="radio" id="star3_Dificuldade" name="rating_Dificuldade" value="3" /><label for="star3_Dificuldade" class="full" title="Awesome"></label>
                <input type="radio" id="star2.5_Dificuldade" name="rating_Dificuldade" value="2.5" /><label for="star2.5_Dificuldade" class="half" title="Awesome"></label>
                <input type="radio" id="star2_Dificuldade" name="rating_Dificuldade" value="2" /><label for="star2_Dificuldade" class="full" title="Awesome"></label>
                <input type="radio" id="star1.5_Dificuldade" name="rating_Dificuldade" value="1.5" /><label for="star1.5_Dificuldade" class="half" title="Awesome"></label>
                <input type="radio" id="star1_Dificuldade" name="rating_Dificuldade" value="1" /><label for="star1_Dificuldade" class="full" title="Awesome"></label>
                <input type="radio" id="star0.5_Dificuldade" name="rating_Dificuldade" value="0.5" /><label for="star0.5_Dificuldade" class="half" title="Awesome"></label>

                <h3 id="notas_Dificuldade">0 de 5</h3> <!-- SERÁ EXIBIDO O TANTO DE ESTRELAS PINTADAS AQUI -->
              </fieldset>

              <div class="espaco_buttons">
                <h2 class="prox_button" id="prox_button_1">Próximo</h2>
              </div>
            </div>

            <div class="boxes_modal" id="box_modal_2">
              <h2 class="CampoFalado2_modal">Monitoria</h2>
              <h4 class="CampoFalado3_modal">Informe sobre a disponibilidade de materiais e serviços ao aluno como exercícios, resolução de dúvidas, entre outros complementos</h4>

              <fieldset class="rating_modal" id="Monitoria">
                <input type="radio" id="star5_Monitoria" name="rating_Monitoria" value="5" /><label for="star5_Monitoria" class="full" title="Awesome"></label>
                <input type="radio" id="star4.5_Monitoria" name="rating_Monitoria" value="4.5" /><label for="star4.5_Monitoria" class="half" title="Awesome"></label>
                <input type="radio" id="star4_Monitoria" name="rating_Monitoria" value="4" /><label for="star4_Monitoria" class="full" title="Awesome"></label>
                <input type="radio" id="star3.5_Monitoria" name="rating_Monitoria" value="3.5" /><label for="star3.5_Monitoria" class="half" title="Awesome"></label>
                <input type="radio" id="star3_Monitoria" name="rating_Monitoria" value="3" /><label for="star3_Monitoria" class="full" title="Awesome"></label>
                <input type="radio" id="star2.5_Monitoria" name="rating_Monitoria" value="2.5" /><label for="star2.5_Monitoria" class="half" title="Awesome"></label>
                <input type="radio" id="star2_Monitoria" name="rating_Monitoria" value="2" /><label for="star2_Monitoria" class="full" title="Awesome"></label>
                <input type="radio" id="star1.5_Monitoria" name="rating_Monitoria" value="1.5" /><label for="star1.5_Monitoria" class="half" title="Awesome"></label>
                <input type="radio" id="star1_Monitoria" name="rating_Monitoria" value="1" /><label for="star1_Monitoria" class="full" title="Awesome"></label>
                <input type="radio" id="star0.5_Monitoria" name="rating_Monitoria" value="0.5" /><label for="star0.5_Monitoria" class="half" title="Awesome"></label>

                <h3 id="notas_Monitoria">0 de 5</h3> <!-- SERÁ EXIBIDO O TANTO DE ESTRELAS PINTADAS AQUI -->
              </fieldset>

              <div class="espaco_buttons">
                <h2 class="back_button" id="back_button_1">Voltar</h2>
                <h2 class="prox_button" id="prox_button_2">Próximo</h2>
              </div>
            </div>

            <div class="boxes_modal" id="box_modal_3">
              <h2 class="CampoFalado2_modal">Didática</h2>
              <h4 class="CampoFalado3_modal">Avalie a didática utilizada pelo professor ao aplicar a matéria</h4>

              <fieldset class="rating_modal" id="Didatica">
                <input type="radio" id="star5_Didatica" name="rating_Didatica" value="5" /><label for="star5_Didatica" class="full" title="Awesome"></label>
                <input type="radio" id="star4.5_Didatica" name="rating_Didatica" value="4.5" /><label for="star4.5_Didatica" class="half" title="Awesome"></label>
                <input type="radio" id="star4_Didatica" name="rating_Didatica" value="4" /><label for="star4_Didatica" class="full" title="Awesome"></label>
                <input type="radio" id="star3.5_Didatica" name="rating_Didatica" value="3.5" /><label for="star3.5_Didatica" class="half" title="Awesome"></label>
                <input type="radio" id="star3_Didatica" name="rating_Didatica" value="3" /><label for="star3_Didatica" class="full" title="Awesome"></label>
                <input type="radio" id="star2.5_Didatica" name="rating_Didatica" value="2.5" /><label for="star2.5_Didatica" class="half" title="Awesome"></label>
                <input type="radio" id="star2_Didatica" name="rating_Didatica" value="2" /><label for="star2_Didatica" class="full" title="Awesome"></label>
                <input type="radio" id="star1.5_Didatica" name="rating_Didatica" value="1.5" /><label for="star1.5_Didatica" class="half" title="Awesome"></label>
                <input type="radio" id="star1_Didatica" name="rating_Didatica" value="1" /><label for="star1_Didatica" class="full" title="Awesome"></label>
                <input type="radio" id="star0.5_Didatica" name="rating_Didatica" value="0.5" /><label for="star0.5_Didatica" class="half" title="Awesome"></label>

                <h3 id="notas_Didatica">0 de 5</h3> <!-- SERÁ EXIBIDO O TANTO DE ESTRELAS PINTADAS AQUI -->
              </fieldset>

              <div class="espaco_buttons">
                <h2 class="back_button" id="back_button_2">Voltar</h2>
                <h2 class="prox_button" id="prox_button_3">Próximo</h2>
              </div>
            </div>

            <div class="boxes_modal" id="box_modal_4">
              <h4 class="CampoFalado3_modal">Você indicaria "{{ turma.professor.nome }}" como um(a) professor(a):</h4>

              <div id="button_box">
                <h2 class="button" id="sim">Sim</h2>
                <h2 class="button" id="nao">Não</h2>
              </div>

              <div class="espaco_buttons">
                <h2 class="back_button" id="back_button_3">Voltar</h2>
                <h2 class="prox_button" id="prox_button_4">Finalizar</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a href="../../.."><img class="UnBook_logo_mini" src="{% static 'image/UnBook_loguinho.png' %}" /></a>
    <!-- LINK PARA VOLTAR A UNBOOK --> <!-- UNBOOK LOGUINHO BRANCO -->

    <div class="boxes">
      <div class="box1_2">
        <div id="box1">
          <div id="avaliacao">
            <h1 class="CampoFalado1">Avaliação</h1>
            <h2 class="CampoFalado2" id="didatica_texto">Didática </h2>
            <fieldset class="rating_media" id="Didatica_media">
              <input type="radio" id="star5_Didatica_media" name="rating_Didatica_media" value="5" /><label     id="estrela_5_didatica" for="star5_Didatica_media" class="full" title="Awesome"></label>
              <input type="radio" id="star4.5_Didatica_media" name="rating_Didatica_media" value="4.5" /><label id="estrela_4.5_didatica" for="star4.5_Didatica_media" class="half" title="Awesome"></label>
              <input type="radio" id="star4_Didatica_media" name="rating_Didatica_media" value="4" /><label     id="estrela_4_didatica" for="star4_Didatica_media" class="full" title="Awesome"></label>
              <input type="radio" id="star3.5_Didatica_media" name="rating_Didatica_media" value="3.5" /><label id="estrela_3.5_didatica" for="star3.5_Didatica_media" class="half" title="Awesome"></label>
              <input type="radio" id="star3_Didatica_media" name="rating_Didatica_media" value="3" /><label     id="estrela_3_didatica" for="star3_Didatica_media" class="full" title="Awesome"></label>
              <input type="radio" id="star2.5_Didatica_media" name="rating_Didatica_media" value="2.5" /><label id="estrela_2.5_didatica" for="star2.5_Didatica_media" class="half" title="Awesome"></label>
              <input type="radio" id="star2_Didatica_media" name="rating_Didatica_media" value="2" /><label     id="estrela_2_didatica" for="star2_Didatica_media" class="full" title="Awesome"></label>
              <input type="radio" id="star1.5_Didatica_media" name="rating_Didatica_media" value="1.5" /><label id="estrela_1.5_didatica" for="star1.5_Didatica_media" class="half" title="Awesome"></label>
              <input type="radio" id="star1_Didatica_media" name="rating_Didatica_media" value="1" /><label     id="estrela_1_didatica" for="star1_Didatica_media" class="full" title="Awesome"></label>
              <input type="radio" id="star0.5_Didatica_media" name="rating_Didatica_media" value="0.5" /><label id="estrela_0.5_didatica" for="star0.5_Didatica_media" class="half" title="Awesome"></label>

              <h3 id="notas_Didatica_media">{{ avaliacao_didatica }} de 5</h3> <!-- SERÁ EXIBIDO O TANTO DE ESTRELAS PINTADAS AQUI -->
            </fieldset>
            
            <div style="height: 5em;"></div>
            
            <h2 class="CampoFalado2" id="apoio_texto">Apoio ao aluno </h2>
            <fieldset class="rating_media" id="Monitoria">
              <input type="radio" id="star5_Monitoria_media" name="rating_Monitoria_media" value="5" /><label     id="estrela_5_apoio" for="star5_Monitoria_media" class="full" title="Awesome"></label>
              <input type="radio" id="star4.5_Monitoria_media" name="rating_Monitoria_media" value="4.5" /><label id="estrela_4.5_apoio" for="star4.5_Monitoria_media" class="half" title="Awesome"></label>
              <input type="radio" id="star4_Monitoria_media" name="rating_Monitoria_media" value="4" /><label     id="estrela_4_apoio" for="star4_Monitoria_media" class="full" title="Awesome"></label>
              <input type="radio" id="star3.5_Monitoria_media" name="rating_Monitoria_media" value="3.5" /><label id="estrela_3.5_apoio" for="star3.5_Monitoria_media" class="half" title="Awesome"></label>
              <input type="radio" id="star3_Monitoria_media" name="rating_Monitoria_media" value="3" /><label     id="estrela_3_apoio" for="star3_Monitoria_media" class="full" title="Awesome"></label>
              <input type="radio" id="star2.5_Monitoria_media" name="rating_Monitoria_media" value="2.5" /><label id="estrela_2.5_apoio" for="star2.5_Monitoria_media" class="half" title="Awesome"></label>
              <input type="radio" id="star2_Monitoria_media" name="rating_Monitoria_media" value="2" /><label     id="estrela_2_apoio" for="star2_Monitoria_media" class="full" title="Awesome"></label>
              <input type="radio" id="star1.5_Monitoria_media" name="rating_Monitoria_media" value="1.5" /><label id="estrela_1.5_apoio" for="star1.5_Monitoria_media" class="half" title="Awesome"></label>
              <input type="radio" id="star1_Monitoria_media" name="rating_Monitoria_media" value="1" /><label     id="estrela_1_apoio" for="star1_Monitoria_media" class="full" title="Awesome"></label>
              <input type="radio" id="star0.5_Monitoria_media" name="rating_Monitoria_media" value="0.5" /><label id="estrela_0.5_apoio" for="star0.5_Monitoria_media" class="half" title="Awesome"></label>

              <h3 id="notas_Monitoria_media">{{ avaliacao_apoio }} de 5</h3> <!-- SERÁ EXIBIDO O TANTO DE ESTRELAS PINTADAS AQUI -->
            </fieldset>

          <div style="height: 5em;"></div>
          
          <h2 class="CampoFalado2" id="dificuldade_texto">Dificuldade </h2>
            <fieldset class="rating_media" id="Dificuldade-media">
              <input type="radio" id="star5_Dificuldade-media" name="rating_Dificuldade-media" value="5" /><label id="estrela_5_dificuldade"  for="star5_Dificuldade-media" class="full" title="Awesome"></label>
              <input type="radio" id="star4.5_Dificuldade-media" name="rating_Dificuldade-media" value="4.5" /><label id="estrela_4.5_dificuldade" for="star4.5_Dificuldade-media" class="half" title="Awesome"></label>
              <input type="radio" id="star4_Dificuldade-media" name="rating_Dificuldade-media" value="4" /><label     id="estrela_4_dificuldade" for="star4_Dificuldade-media" class="full" title="Awesome"></label>
              <input type="radio" id="star3.5_Dificuldade-media" name="rating_Dificuldade-media" value="3.5" /><label id="estrela_3.5_dificuldade" for="star3.5_Dificuldade-media" class="half" title="Awesome"></label>
              <input type="radio" id="star3_Dificuldade-media" name="rating_Dificuldade-media" value="3" /><label     id="estrela_3_dificuldade" for="star3_Dificuldade-media" class="full" title="Awesome"></label>
              <input type="radio" id="star2.5_Dificuldade-media" name="rating_Dificuldade-media" value="2.5" /><label id="estrela_2.5_dificuldade" for="star2.5_Dificuldade-media" class="half" title="Awesome"></label>
              <input type="radio" id="star2_Dificuldade-media" name="rating_Dificuldade-media" value="2" /><label     id="estrela_2_dificuldade" for="star2_Dificuldade-media" class="full" title="Awesome"></label>
              <input type="radio" id="star1.5_Dificuldade-media" name="rating_Dificuldade-media" value="1.5" /><label id="estrela_1.5_dificuldade" for="star1.5_Dificuldade-media" class="half" title="Awesome"></label>
              <input type="radio" id="star1_Dificuldade-media" name="rating_Dificuldade-media" value="1" /><label     id="estrela_1_dificuldade" for="star1_Dificuldade-media" class="full" title="Awesome"></label>
              <input type="radio" id="star0.5_Dificuldade-media" name="rating_Dificuldade-media" value="0.5" /><label id="estrela_0.5_dificuldade" for="star0.5_Dificuldade-media" class="half" title="Awesome"></label>

              <h3 id="notas_Dificuldade-media">{{ avaliacao_dificuldade }} de 5</h3> <!-- SERÁ EXIBIDO O TANTO DE ESTRELAS PINTADAS AQUI -->
            </fieldset>
            
            <div style="height: 5em;"></div>

            <h2 style="text-align:center;">avaliações: {{ total_avaliadores }}</h2>
            
          </div>

          <h2 id="Fazer_avaliacao">Fazer a avaliação</h2>
        </div>

        <div id="box2">
          <h2 class="CampoFalado1_box2">Calendário</h2>

          <table>
            <thead>
              <tr>
                <th>hor</th>
                <th>seg</th>
                <th>ter</th>
                <th>qua</th>
                <th>qui</th>
                <th>sex</th>
                <th>sab</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th class="horario">8h-10h</th>
                <th id="2M12"></th>
                <th id="3M12"></th>
                <th id="4M12"></th>
                <th id="5M12"></th>
                <th id="6M12"></th>
                <th id="7M12"></th>
              </tr>

              <tr>
                <th class="horario">10h-12h</th>
                <th id="2M34"></th>
                <th id="3M34"></th>
                <th id="4M34"></th>
                <th id="5M34"></th>
                <th id="6M34"></th>
                <th id="7M34"></th>
              </tr>

              <tr>
                <th class="horario">12h-13h</th>
                <th id="2M5"></th>
                <th id="3M5"></th>
                <th id="4M5"></th>
                <th id="5M5"></th>
                <th id="6M5"></th>
                <th id="7M5"></th>
              </tr>

              <tr>
                <th class="horario">13h-14h</th>
                <th id="2T1"></th>
                <th id="3T1"></th>
                <th id="4T1"></th>
                <th id="5T1"></th>
                <th id="6T1"></th>
                <th id="7T1"></th>
              </tr>

              <tr>
                <th class="horario">14h-16h</th>
                <th id="2T23"></th>
                <th id="3T23"></th>
                <th id="4T23"></th>
                <th id="5T23"></th>
                <th id="6T23"></th>
                <th id="7T23"></th>
              </tr>

              <tr>
                <th class="horario">16h-18h</th>
                <th id="2T45"></th>
                <th id="3T45"></th>
                <th id="4T45"></th>
                <th id="5T45"></th>
                <th id="6T45"></th>
                <th id="7T45"></th>
              </tr>

              <tr>
                <th class="horario">19h-21h</th>
                <th id="2N12"></th>
                <th id="3N12"></th>
                <th id="4N12"></th>
                <th id="5N12"></th>
                <th id="6N12"></th>
                <th id="7N12"></th>
              </tr>

              <tr>
                <th class="horario">21h-23h</th>
                <th id="2N34"></th>
                <th id="3N34"></th>
                <th id="4N34"></th>
                <th id="5N34"></th>
                <th id="6N34"></th>
                <th id="7N34"></th>
              </tr>
            </tbody>

            <script type="text/javascript">
              lista_turno_django = []
              {% for d in dias %}
              lista_turno_django.push("{{d}}")
              {% endfor %}
            </script>

            <caption>Semestre: 2024.1</caption>
          </table>

          <div id="modal_calendario">
            <h2 id="horario"></h2>
          </div>
        </div>
      </div>

      <div id="box3">
        <div id="acesso">
          <div id="dados_materia">
            <h1 id="Materia" class="CampoFalado1">{{ turma.materia.nome }} - ({{ turma.materia.codigo }})</h1>
            <a id="Prof" href=" ../../professor/{{ turma.professor.nome }}">(Prof. {{ turma.professor.nome }})</a>
          </div>

          <hr style="position: relative; top: 0" />

          <div id="biblioteca">
            <ul id="biblioteca_ul">
              <a class="boxes_biblioteca" style="text-decoration: none;" href=" ../../materia/{{ turma.materia.codigo }}/{{ turma.professor.nome }}/videos">
                <li id="videos" href=" ../../materia/{{ turma.materia.codigo }}/{{ turma.professor.nome }}/videos">
                  <img class="imagens" src="{% static 'image/Video Conference.png' %}" />
                  <h3 class="texto">Vídeos</h3>
                </li>
              </a>

              <a class="boxes_biblioteca" style="text-decoration: none;" href=" ../../materia/{{ turma.materia.codigo }}/{{ turma.professor.nome }}/resumos">
                <li id="resumos">
                  <img class="imagens" src="{% static 'image/Book Stack.png' %}" />
                  <h3 class="texto">Resumos</h3>
                </li>
              </a>

              <a class="boxes_biblioteca" style="text-decoration: none;" href="">
                <li id="atividades">
                  <img class="imagens" src="{% static 'image/Student Center.png' %}" />
                  <h3 class="texto">Atividades</h3>
                </li>
              </a>
            </ul>
          </div>
        </div>

        <hr />

        <div id="comentarios">
          <div id="box_comentarios">
            <div id="scroll">
              <div id="comentario1">
                <h2 class="usuarios" id="">@Yuri_Gameplays</h2>
                <h3 class="comentarios">eu adoro essa materia ela é muito legal, to pensando ate em reprovar pra nao sair dela nunk.</h3>

                <div class="curtidas">
                  <h3 class="Gostei">Gostei</h3>

                  <button class="like" type="button" onclick="like(this)"><i class="fa-solid fa-heart"></i></button>
                </div>
              </div> <!-- SE APERTAR ELE VAI ABRIR PARA RESPONDER O COMENTÁRIO NO INPUT -->
              {% for comentario in comentarios %}
                <div>
                  <h2 class="usuarios">@{{ comentario.autor.username }}</h2>
                  <h3 class="comentarios">
                    {{ comentario.texto }} <br />
                    <span style="font-size: 0.75em;">- {{ comentario.hora_publicacao }}</span>
                  </h3>

                  <div class="curtidas">
                    <h3 class="Gostei">Gostei</h3>
                    <button class="like" type="button" onclick="like(this)"><i class="fa-solid fa-heart"></i></button>
                  </div>
                </div>
              {% endfor %} <!-- SE APERTAR ELE VAI ABRIR PARA RESPONDER O COMENTÁRIO NO INPUT -->
            </div>
          </div>

          <div id="comentar_box">
            <input id="comentar" contenteditable="true" type="text" placeholder="Fazer comentário" />
            <img onclick="postar_comentario()" id="send_button" src="{% static 'image/Email Send.png' %}" />
          </div>
        </div>
      </div>
    </div>

    <a style="display: none" id="Prof_js">{{ turma.professor.nome }}</a>
    <a style="display: none" id="User_js">{{ user.username }}</a>

  </body>

  <!-- LINK PARA ARQUIVOS JS -->
  <script src="{% static 'js/materia_(materia.html).js' %}"></script>
  <script src="{% static 'js/avaliacao_de_estrelas_(Matéria.html).js' %}"></script>
</html>
