{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'image/UnBook_page.ico' %}" type="image/x-icon" />
    <title>Professor</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" /> <!-- LINK PARA FONTE MONSTSERRAT -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <!-- LINK PARA FONTE AWESOME (USADO NAS ESTRELAS) -->

    <link rel="stylesheet" href="{% static 'css/styles_(Professor.html).css' %}" /> <!-- LINK PARA PARA CSS DA PÁGINA -->
  </head>

  <body>
    <a href="../"><img class="UnBook_logo_mini" src=" {% static 'image/UnBook_loguinho.png' %} " /></a>
    <!-- LINK PARA VOLTAR A UNBOOK --> <!-- UNBOOK LOGUINHO BRANCO -->

    <div class="boxes">
      <div class="box1_2">
        <div id="box1">
          <div id="avaliacao">
            <h1 class="CampoFalado1">Avaliação</h1>

            <h2 class="CampoFalado2">Dificuldade</h2>
            <fieldset class="rating" id="Dificuldade">
              <input type="radio" id="star5_Dificuldade" name="rating_Dificuldade" value="5" />
              <label for="star5_Dificuldade" class="full" title="Awesome"></label>
              <input type="radio" id="star4.5_Dificuldade" name="rating_Dificuldade" value="4.5" /><label for="star4.5_Dificuldade" class="half" title="Awesome"></label>
              <input type="radio" id="star4_Dificuldade" name="rating_Dificuldade" value="4" /><label for="star4_Dificuldade" class="full" title="Awesome"></label>
              <input type="radio" id="star3.5_Dificuldade" name="rating_Dificuldade" value="3.5" /><label for="star3.5_Dificuldade" class="half" title="Awesome"></label>
              <input type="radio" id="star3_Dificuldade" name="rating_Dificuldade" value="3" /><label for="star3_Dificuldade" class="full" title="Awesome"></label>
              <input type="radio" id="star2.5_Dificuldade" name="rating_Dificuldade" value="2.5" /><label for="star2.5_Dificuldade" class="half" title="Awesome"></label>
              <input type="radio" id="star2_Dificuldade" name="rating_Dificuldade" value="2" /><label for="star2_Dificuldade" class="full" title="Awesome"></label>
              <input type="radio" id="star1.5_Dificuldade" name="rating_Dificuldade" value="1.5" /><label for="star1.5_Dificuldade" class="half" title="Awesome"></label>
              <input type="radio" id="star1_Dificuldade" name="rating_Dificuldade" value="1" /><label for="star1_Dificuldade" class="full" title="Awesome"></label>
              <input type="radio" id="star0.5_Dificuldade" name="rating_Dificuldade" value="0.5" /><label for="star0.5_Dificuldade" class="half" title="Awesome"></label>

              <h3 id="notas_Dificuldade">0 de 5</h3> <!-- SERÁ EXIBIDO O TANTO DE ESTRELAS PINTADAS AQUI -->
            </fieldset>

            <div style="height: 5em;"></div>

            <h2 class="CampoFalado2">Monitoria</h2>
            <fieldset class="rating" id="Monitoria">
              <input type="radio" id="star5_Monitoria" name="rating_Monitoria" value="5" /><label for="star5_Monitoria" class="full" title="Awesome"></label>
              <input type="radio" id="star4.5_Monitoria" name="rating_Monitoria" value="4.5" /><label for="star4.5_Monitoria" class="half" title="Awesome"></label>
              <input type="radio" id="star4_Monitoria" name="rating_Monitoria" value="4" /><label for="star4_Monitoria" class="full" title="Awesome"></label>
              <input type="radio" id="star3.5_Monitoria" name="rating_Monitoria" value="3.5" /><label for="star3.5_Monitoria" class="half" title="Awesome"></label>
              <input type="radio" id="star3_Monitoria" name="rating_Monitoria" value="3" /><label for="star3_Monitoria" class="full" title="Awesome"></label>
              <input type="radio" id="star2.5_Monitoria" name="rating_Monitoria" value="2.5" /><label for="star2.5_Monitoria" class="half" title="Awesome"></label>
              <input type="radio" id="star2_Monitoria" name="rating_Monitoria" value="2" /><label for="star2_Monitoria" class="full" title="Awesome"></label>
              <input type="radio" id="star1.5_Monitoria" name="rating_Monitoria" value="1.5" /><label for="star1.5_Monitoria" class="half" title="Awesome"></label>
              <input type="radio" id="star1_Monitoria" name="rating_Monitoria" value="1" /><label for="star1_Monitoria" class="full" title="Awesome"></label>
              <input type="radio" id="star0.5_Monitoria" name="rating_Monitoria" value="0.5" /><label for="star0.5_Monitoria" class="half" title="Awesome"></label>

              <h3 id="notas_Monitoria">0 de 5</h3> <!-- SERÁ EXIBIDO O TANTO DE ESTRELAS PINTADAS AQUI -->
            </fieldset>

            <div style="height: 5em;"></div>

            <h2 class="CampoFalado2">Dúvidas</h2>
            <fieldset class="rating" id="Dúvidas">
              <input type="radio" id="star5_Dúvidas" name="rating_Dúvidas" value="5" /><label for="star5_Dúvidas" class="full" title="Awesome"></label>
              <input type="radio" id="star4.5_Dúvidas" name="rating_Dúvidas" value="4.5" /><label for="star4.5_Dúvidas" class="half" title="Awesome"></label>
              <input type="radio" id="star4_Dúvidas" name="rating_Dúvidas" value="4" /><label for="star4_Dúvidas" class="full" title="Awesome"></label>
              <input type="radio" id="star3.5_Dúvidas" name="rating_Dúvidas" value="3.5" /><label for="star3.5_Dúvidas" class="half" title="Awesome"></label>
              <input type="radio" id="star3_Dúvidas" name="rating_Dúvidas" value="3" /><label for="star3_Dúvidas" class="full" title="Awesome"></label>
              <input type="radio" id="star2.5_Dúvidas" name="rating_Dúvidas" value="2.5" /><label for="star2.5_Dúvidas" class="half" title="Awesome"></label>
              <input type="radio" id="star2_Dúvidas" name="rating_Dúvidas" value="2" /><label for="star2_Dúvidas" class="full" title="Awesome"></label>
              <input type="radio" id="star1.5_Dúvidas" name="rating_Dúvidas" value="1.5" /><label for="star1.5_Dúvidas" class="half" title="Awesome"></label>
              <input type="radio" id="star1_Dúvidas" name="rating_Dúvidas" value="1" /><label for="star1_Dúvidas" class="full" title="Awesome"></label>
              <input type="radio" id="star0.5_Dúvidas" name="rating_Dúvidas" value="0.5" /><label for="star0.5_Dúvidas" class="half" title="Awesome"></label>

              <h3 id="notas_Dúvidas">0 de 5</h3> <!-- SERÁ EXIBIDO O TANTO DE ESTRELAS PINTADAS AQUI -->
            </fieldset>
          </div>
        </div>

        <div id="box2">
          <h2 class="CampoFalado1_box2">Pontos fortes</h2>
          <ul id="pontos_fortes">
            <li>Didática</li>
            <li>Compreensão</li>
            <li>Dúvidas</li>
          </ul>
        </div>
      </div>

      <div id="box3">
        <div style="position: relative; top: 10%;">
            
          <div style="position: relative; display:inline-block; width: 30%; height: 20em; ">
            <img id="foto_professor" src="{{ foto }}" alt="" />
        </div>

        <div style="position: relative; display:inline-block; width: 60%; height: 100%; top:-5em;;">
            <h1 id="Professor">Prof. {{ nome }}</h1>
            <h3 id="Faculdade">Faculdade UnB</h3>
        </div>

        </div>

        <hr style="position: relative; top:15%;">

        <div id="box_materias">
          <h1 style="position: relative; display:block; top: 10%; text-align: center; width: 100%">Matérias ofertadas</h1>

          <div id="scroll_materias">
            {% for turma in lista_turmas %}
              <a class="materias" href="../../materia/{{ turma.materia.codigo }}/{{ turma.professor.nome }}">{{ turma.materia.codigo }} {{ turma.materia.nome }}</a>
            {% endfor %}
          </div>

        </div>

      </div>


    </div>
  </body>

  <!-- LINK PARA ARQUIVOS JS -->
  <!-- <script src="../js/materia_(materia.html).js"></script> -->
  <!-- <script src="{% static "js/avaliacao_de_estrelas_(Matéria.html).js" %}"></script> -->
</html>
