{% load static %} 
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href= "{% static "image/UnBook_page.ico" %}" type="image/x-icon">
    <title>UnBook</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"> <!--LINK PARA O FONT MONSTSERRAT USADO NA PAGINA -->

    <link rel="stylesheet" href="{% static "css/styles_(UnBook.html).css"%}"> <!--LINK PARA O CSS DA PAGINA -->
</head>

<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <section class="page1">

        <div class="fundo_branco" id="inicio">
            
            <div id="nav">
                <a id="qmsomos" style="text-decoration:none" href="./Quem_somos">Quem somos?</a> <!--LINK PARA A PAGINA DO QUEM SOMOS -->
                <h1 id="semestre"> 2024.1 </h1>
                <a id="FAC" style="text-decoration:none" href="./Tutorial"> Como funciona?</a> <!--LINK PARA A PAGINA DE AJUDA USUARIO -->

                <img class="unbloguinho" src="{% static "image\UnB_logo.png"%}"> <!-- UNB LOGO-->
            </div>

            <img class="UnBookLogo" src="{% static 'image\UnBook_logao.png'%}"> <!-- UNBOOK LOGO-->


        </div>
        
            <a id="botao_arrasta" href="#search">Iniciar pesquisa</a> <!--LINK PARA ACESSAR A BARRA DE PESQUISA-->
        
    </section>

    <br>

    <section class="page2"></section>


    <section>
        <div id="search">


            <a href="#inicio"><img class="UnBook_logo_mini" src="{% static "image/UnBook_loguinho.png" %}" alt=""></a> <!--LINK PARA VOLTAR PARA O INICIO PAGINA--> <!-- UNBOOK LOGUINHO BRANCO-->

            <div class="Login_icon">
                
                <div id="user"><img class="user" src="{% static "image/usuario.png" %}" alt="user"></div>

                {% if user.is_authenticated %}

                    <a class="authentic" href="../cadastro/login"><h2>{{user.username}}</h2></a> <!--LINK PARA ACESSAR A PÁGINA LOGIN-->
                {% else %}
                    <a class="authentic" href="../cadastro/login"><h2>Login</h2></a> <!--LINK PARA ACESSAR A PÁGINA LOGIN-->
                {% endif %}

            </div>

            <div id="perguntas">

                <h2 class="pergunta"> Como deseja iniciar sua pesquisa?</h2>
                <h2 class="botoes" onclick="abrirModal_Professor()">Professor</h2> <!--ABRIR MODAL PROFESSOR-->
                <h2 class="botoes" onclick="abrirModal_Materia()">Matéria </h2> <!--ABRIR MODAL MATÉRIA-->

            </div>


            <div class="janela_pesquisa" id="janela_professor">

                <h1 class="CampoFalado"> Informe o nome do professor:</h1>
                <input class="barra_pesquisa" type="text" placeholder="pesquisar" id="searchbar_prof" onkeyup=pesquisa_prof("{{csrf_token}}") autocomplete="off"></input>
                <div class="CampoProcura">
                    <ul id="list_professores">
                        
                    </ul>
                </div>
            </div>


            <div class="janela_pesquisa" id="janela_materia">

                <h1 class="CampoFalado">Informe a matéria:</h1>
                <input class="barra_pesquisa" type="text" id="searchbar_materia" placeholder="pesquisar" onkeydown=pesquisa_materia("{{csrf_token}}") autocomplete="off"></input>

                <div class="CampoProcura">
                    <ul id="list_materias"> 
                    
                    </ul>
                </div>

            </div>

            <div class="janela_materia2" id="janela_materia2">

                <h1 class="CampoFalado2" id="nome_materia"></h1>
                <h2 class="CampoFalado3"> Aula ministrada pelos professores:</h2>

                <div id="scroll">

                </div>

                <h2 class="CampoFalado4"> 2024.1 </h2>

    </section>

    <!-- LINK PARA ARQUIVOS JS-->
    <script src="{% static "js/script_(UnBook.html).js"%}"></script>
    <scrip src="{% static "js/materia_(materia.html).js"%}"></script>
</body>

</html>
