* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #0C36A1, #008940);
    width: 100%;

    background-attachment: fixed;
    height: 100vh;
    scroll-behavior: smooth;

}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

ul {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* inicio das paginas */
/*PAGINA1*/

.UnBookLogo {
    width: 1212px;
    height: 484px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 6%;
}


.fundo_branco {

    width: 100%;
    height: 650px;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);

    background-image: linear-gradient(to right, #E6F2FB, whitesmoke);
    z-index: -1;
}

.qmsomos a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;

    padding-top: 1rem;

    color: black;
    position: relative;
    text-align: center;

    width: auto;
    height: auto;

    top: 0;
    display: block;
    transition: all 0.3s ease;
}

.qmsomos:hover {
    transform: scale(1.05);
}

.unbloguinho {
    position: absolute;
    width: 117px;
    height: 59px;

    top: 10px;
    right: 10px;
    display: block;
}

.botao_arrasta {

    margin-right: auto;
    margin-left: auto;


    width: 20em;
    height: auto;

    position: relative;
    text-align: center;

    top: -120px;
    display: block;
}

.botao_arrasta a {
    color: white;
    font-size: 2rem;
    text-shadow: 0 1.5px black;
    text-decoration: none;

    background-color: #133E79;
    border: 5px solid #133E79;
    border-radius: 50px;
    padding: 0.5rem 1rem;

    cursor: pointer;
    transition: all 0.3s ease;
}

.botao_arrasta:hover {
    transform: scale(1.05);
}

.botao_arrasta a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px #0B4C8C;
}

.botao_arrasta:active {
    transform: scale(1);
}

.page2 {
    background-color: transparent;
    height: 27vh;
}

/*PAGINA3*/

#search {
    background-color: transparent;
    height: 95vh;
}

.UnBook_logo_mini {
    display: inline;

    width: 25em;
    height: auto;

    position: relative;

    margin-left: 40px;
    margin-top: 30px;
}

.Login_icon a {
    font-size: 1.5em;
    display: block;
    position: relative;


    color: #0B4C8C;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0B4C8C;


    margin-left: 90%;
    top: -4.5rem;
    transition: all 0.3s ease;
}

.Login_icon:hover {
    transform: translateY(2px);
    text-shadow: 0 0 50px #0B4C8C;
}

#perguntas {
    position: relative;
    top: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pergunta {
    color: white;
    font-size: 2rem;
}

.botoes {
    width: 10em;
    height: auto;

    display: block;
    margin: auto;

    width: 10em;

    background-color: #133E79;
    border-radius: 50px;


    padding: 0.5rem 4.5rem;
    margin-top: 0.5em;

    color: white;
    font-size: 2rem;
    text-shadow: 0 1.5px black;


    cursor: pointer;
    transition: all 0.3s ease;
}



.botoes:hover {
    justify-content: center;
    transform: scale(1.05);
    box-shadow: 0 0 50px #0B4C8C;
}

.botoes:active {
    transform: scale(1);
}

/*JANELA*/


.CampoFalado {
    margin-bottom: 0.5em;
    text-align: center;
    color: #E6F2FB;
}

.barra_pesquisa {
    width: 570px;
    height: 2em;
    display: block;

    margin: auto;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    font-size: 32px;
    padding: 0 0 0 40px;
    text-align: left;
    font-weight: 200;
    border: none;
}

.janela_pesquisa {
    margin-top: 10px;

    display: none;
    flex-direction: column;
}

div .janela_pesquisa {
    width: auto;
    height: auto;
}

.CampoProcura {
    width: 570px;
    height: 10em;

    display: block;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    border: none;
    margin-top: 1em;

    overflow-y: auto;
}

.CampoProcura ul {

    display: block;
    margin: auto;
    position: relative;
    padding: 1em 0 1em 2.5em;
    text-align: left;
    border: none;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 500;
    cursor: pointer;


}

.CampoProcura a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.CampoProcura a:hover {
    transform: scale(1.05);
}


/* FIM DA JANELA */

/* JANELA MATERIA2 */

.janela_materia2 {
    width: 570px;
    height: 25em;

    display: none;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    border: none;
}

.CampoFalado2 {
    display: block;
    text-align: center;
    padding-top: 0.5em;
    margin-left: auto;
    
    margin-right: auto;

    font-size: 2em;
    color: black;
}

.CampoFalado3 {
    display: block;
    text-align: center;
    padding-top: 0.5em;
    
    margin-left: auto;
    margin-right: auto;

    margin-top: 50%;
    font-size: 2em;
    color: black;
}


/* FIM DA JANELA MATERIA2 */

@keyframes abrir_janelas {
    from {
        opacity: 0;
        transform: translate3d(0, -5px, -20px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir {
    animation: abrir_janelas 0.3s;
    display: flex;
    flex-direction: column;
}


/* CABOUJANELA */