* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #0C36A1, #068a4e);
    width: 100%;

    background-attachment: fixed;
    height: 100vh;
    scroll-behavior: smooth;

}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

ul {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* inicio das paginas */
/*PAGINA1*/

.UnBookLogo {
    width:60em;
    height: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top:6%;
}


.fundo_branco {

    width: 100%;
    height: 650px;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    
    background-image: linear-gradient(to right, #E6F2FB, whitesmoke);
    z-index: -1;
}
.qmsomos a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;

    padding-top: 1rem;

    color: black;
    position: relative;
    text-align: center;

    width: auto;
    height: auto;

    top: 0;
    display: block;
    transition: all 0.3s ease;
}

.qmsomos:hover {
    transform: scale(1.05);
}

.unbloguinho {
    position: absolute;
    width: 117px;
    height: 59px;

    top: 10px;
    right: 10px;
    display: block;
}

.botao_arrasta {

    margin-right: auto;
    margin-left: auto;


    width: 520px;
    height: 100px;

    position: relative;
    text-align: center;

    top: -120px;
    display: block;
}

.botao_arrasta a {
    color: white;
    font-size: 2rem;
    text-shadow: 0 1.5px black;
    text-decoration: none;

    background-color: #133E79;
    border: 5px solid #133E79;
    border-radius: 50px;
    padding: 0.5rem 1rem;

    cursor: pointer;
    transition: all 0.3s ease;
}

.botao_arrasta:hover {
    transform: scale(1.05);
}

.botao_arrasta:active {
    transform: scale(1);
}

/*PAGINA2*/

.page2 {
    background-color: transparent;
    width: 100%;
    height: 100vh;

}

/*PAGINA3*/

.page3 {
    background-color: transparent;
    height: 100vh;
}

 .UnBook_logo_mini{
    display: inline;
    
    width:35em;
    height: auto;

    position: relative;

    margin-left: 10px;
    top: -30px;
}

.Login_icon a {
    font-size: 1.5em;
    display: block;
    position: relative;


    color: #0B4C8C;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0B4C8C;
    text-shadow: 0 0 50px #0B4C8C;

    margin-left: 90%;
    top:-150px;
    transition: all 0.3s ease;
}

.Login_icon:hover {
    transform: translateY(2px);
}


.pergunta {
    color: white;
    display: block;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    width: auto;
    height: auto;

    top: 10px;
    font-size: 2rem;
}

.botao_professor a {
    color: white;
    font-size: 2rem;
    text-shadow: 1 1.5px black;
    text-decoration: none;

    background-color: #133E79;
    border-radius: 50px;
    align-items: center;


    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    text-align: center;

    width: 350px;
    height: auto;
    padding: 0.5em 0.5em;
}

.botao_materia a {
    color: white;
    font-size: 2rem;
    text-shadow: 1 1.5px black;
    text-decoration: none;

    background-color: #133E79;
    border-radius: 50px;
    align-items: center;


    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    text-align: center;

    width: 350px;
    height: auto;
    padding: 0.5em 0.5em ;
}

.botao_professor:hover {
    justify-content: center;
    transform: scale(1.05);
}

.botao_materia:hover {
    justify-content: center;
    transform: scale(1.05);
}

.botao_professor:active {
    transform: scale(1);
}
.botao_materia:active {
    transform: scale(1);
}

/*JANELA*/

.janela_pesquisa {

    width: 570px;
    height: 600px;
    min-height: 200px;
    
    margin-top: -500px;
    text-align: center;
    display: none;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    
}

.janela_pesquisa h1 {
    font-size: 2rem;
    padding: 10px 0;
    color:white;
    width: auto;
    text-align: center;
    display: block;
    margin-top: 150px;
}

.janela_pesquisa .pesquisa {
    width: 570px;
    height: 70px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    font-size:32px;
    padding: 0 0 0 40px;
    text-align: left;
    font-weight: 200;
    border: none;
    display: flex;
    

}
.janela_pesquisa h2 {

    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter:blur(10px);
    border-radius: 50px;
    margin-top: 10px;
    color: rgb(33, 33, 33);
    font-size: 2em;

    width: 570px;
    height: 285px;

    text-align: center ;
}

@keyframes abrir_janelas {
    from{
        opacity: 0;
        transform: translate3d(0,-5px,-20px);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.abrir {
    animation: abrir_janelas 0.3s;
    display: block;
}


/* CABOUJANELA */