* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #0C36A1, #068a4e);
  width: 100%;

  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

}

ul {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.UnBook_logo_mini {
  display: inline;

  width: 35em;
  height: auto;

  position: relative;

  margin-left: 10px;
  top: -30px;
}

.form {
  background-color: whitesmoke;
  width: 40em;
  height: 45em;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(255, 255, 255);

  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: -6em;
}

.campoFalado {
  font-size: 2em;
  padding: 1em 0 0 0;

  display: block;
  text-align: center;
}

#user {
  background-color: #0B4C9C;
  width: 20em;
  height: 20em;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  border-radius: 50%;

}

.user{
  width: 15em;
  height: 15em;
  color:white;

  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: auto;
  border-radius: 50%;

}

.botao_voltar {
  display: block;
  width: 15rem;
  height: auto;

  border: none;
  border-radius: 20px;
  background-color: #0B4C9C;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  color: white;
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;


  transition: all 0.3s ease;
}

.botao_voltar:hover {
  transform: scale(1.05);
}

.botao_voltar:active {
  transform: scale(0.9);
}

.spans_required {
  color: #ff0000;
  margin-left: 3em;
  display: none;
}