{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href= "{% static "image/UnBook_page.ico" %}" type="image/x-icon">
  <title>Pagina de cadastro</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/styles_cadastro.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<div id="fundo_blur"></div>

<div id="ler_termos">
  <h1>Termos de Uso</h1>

  <article>
    Você aceitando nossos termos nos autoriza a utilizar seus dados para financiar uma moto em seu nome, muito agradecido!
  </article>

  <button> Voltar </button>
</div>





{% comment %} termos {% endcomment %}

  <a href="/"><img class="UnBook_logo_mini" src="{% static "image/UnBook_loguinho.png" %}" alt=""></a>

  <form class="form" id="form" action="./sucesso/" method="post" name="contact-form">
    {% csrf_token %}

    <div style="display: flex; flex-direction: row; padding: 40px 40px 5px 40px; justify-content: space-between;">
      <h1 style="font-size: 3em;">Cadastro</h1>
      <a href="./login"><img style="width:3em; height:3em" src="{% static "image/Arrow_back.png"%}"/></a>
    </div>
    
    <main>
      <h3 class="campoFalado">Insira seu nome completo:</h3>

      <label>
        {{form.name}} 
        <span class="spans_required"> Digite um nome com mais de 3 caracteres </span>
      </label>

      <h3 class="campoFalado">Insira um nome para o usuario:</h3>

      <label>
        {{form.username}}
        <span class="spans_required"> Digite um nome maior que 3 caracteres ou menor que 12 caracteres, que não contenha espaço e símbolos (.#*&%!)</span>
      </label>

      <h3 class="campoFalado">Insira seu e-mail institucional: <span style="color: grey; font-size: 0.75em">(123456789@aluno.unb.br)</span></h3>

      <label>
        {{form.email}}
        <span class="spans_required"> Digite um e-mail válido</span>
      </label>

      <h3 class="campoFalado">Crie uma senha:</h3>

      <label>
        {{form.password}}
        <span class="spans_required"> Sua senha está fraca</span>
      </label>

      <h3 class="campoFalado">Confirme sua senha:</h3>

      <label>
        <input class="campoEscrito , required" name="Confirm" type="password" placeholder="*******" oninput="confirmasenhaValidade()">
        <span class="spans_required"> Sua senha está diferente da anterior</span>
      </label>
    </main>


    <div id="termos_box">
        <h2> Concordo com os <span onclick="abrir_termos()"id="termos">termos de uso</span></h2>
        <input type="checkbox" id="check_termos">
    </div>

    <input type="submit" id="submit" disable>
        <div id="error-message"></div>

      </div>
    
    {% comment %} <div>{{request.session.erro}}</div> {% endcomment %}
    {% if messages %}
            {% for message in messages %}
                <h3 class="alerta" onclick="RetirarAlerta(this)">{{message}}</h3>
            {% endfor %}
    {% endif %}
  </body>

  </form>

  <script src="{% static "js/confirma_(Cadastro.html).js" %}"></script>
  <script>
    function back() {
      history.back()
    }
  </script>
  <script>
    $(document).ready(function() {
        $('#form').on('submit', function(event) {
            event.preventDefault(); // Previne o envio do formulário padrão

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    if (!response.success) {
                        $('#error-message').text(response.error);
                    } else {
                        // Em caso de sucesso, redireciona ou atualiza a página conforme necessário
                        window.location.href = "/cadastro/sucesso/";
                    }
                },
                error: function(xhr, status, error) {
                    alert('Ocorreu um erro ao processar a solicitação.');
                }
            });
        });
    });
  </script>
  
</body>

</html>