{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#0c36a1">
  <link rel="shortcut icon" href= "{% static "image/UnBook_page.ico" %}" type="image/x-icon">
  <title>Pagina de cadastro</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/styles_cadastro.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<div id="fundo_blur"></div>

<div id="ler_termos">
  <h1>Termos de Uso e  Política de Comentários</h1>
<hr style="margin: 1em 2em;">

Este documento estabelece as diretrizes e regras de conduta para o uso dos comentários e postagens de conteúdo no site UnBook.
Ao utilizar os serviços oferecidos por este site, você concorda e se compromete a seguir as seguintes normas:
  <article>
<b>Termo de Consentimento e Informação de Tratamento de Dados
Pessoais</b>
<br><br>
Ao participar deste projeto de coleta de dados de avaliações de professores, você está
concordando com o compartilhamento de suas informações pessoais e a publicação de
suas avaliações. Gostaríamos de esclarecer os seguintes pontos importantes:
Coleta de Dados Pessoais
<br><br>
Durante o processo de coleta de dados, solicitaremos que você forneça seu nome completo
e e-mail institucional. Estas informações são necessárias para a autenticação e validação
das avaliações, garantindo a veracidade e a integridade dos dados coletados.
Publicação das Avaliações
<br><br>
As avaliações dos professores realizadas por você serão públicas. Isso significa que
qualquer pessoa que acessar o projeto/site poderá visualizar suas avaliações. No entanto,
os dados pessoais como seu nome completo e e-mail institucional não serão divulgados
publicamente e serão utilizados apenas para fins de validação interna.

<br><br><br>
<b>Conformidade com a Lei Geral de Proteção de Dados (LGPD)</b>
<br><br>
O projeto/site está em total conformidade com a Lei Geral de Proteção de Dados (Lei nº
13.709/2018), que regula o tratamento de dados pessoais no Brasil. Nós seguimos
rigorosamente todas as diretrizes da LGPD para garantir a proteção e a privacidade dos
seus dados pessoais. Isso inclui, mas não se limita a:
<br><br><br>
1. Transparência: Informamos claramente como seus dados serão utilizados e
compartilhados.<br><br>
2. Segurança: Implementamos medidas de segurança para proteger seus dados
contra acessos não autorizados, perdas ou divulgações acidentais.<br><br>
3. Consentimento: Solicitamos seu consentimento explícito para a coleta e o uso dos
seus dados.<br><br>
4. Finalidade: Utilizamos seus dados apenas para os fins específicos e legítimos para
os quais foram coletados.<br><br>
5. Direitos dos Titulares: Você tem o direito de acessar, corrigir, ou solicitar a
exclusão dos seus dados pessoais a qualquer momento.
<br><br>
6. Comentários e Conduta Geral
<br><br>
6.1. Respeito e Etiqueta: Todos os usuários são obrigados a respeitar uns aos outros.
Comentários que contenham linguagem ofensiva, discriminatória, difamatória, ou que violem os direitos de terceiros não serão tolerados.<br>
<br><br>
6.2. Proibição de Atividades Ilegais: É estritamente proibido publicar, promover ou se envolver em qualquer atividade ilegal nos comentários.
Isso inclui, mas não se limita a, discursos de ódio, incitação à violência, spam, e quaisquer outras atividades que violem as leis vigentes.<br>
<br><br>
6.3. Respeito aos Direitos Autorais: Os usuários devem respeitar os direitos autorais e de propriedade intelectual.
Não é permitido publicar material protegido por direitos autorais.<br>
<br><br>
6.4. Veracidade das Informações: Os usuários são responsáveis pela veracidade das informações e conteúdos que publicam nos comentários.
Informações falsas, enganosas ou deliberadamente imprecisas não são permitidas.
<br><br>
7. Postagem de Materiais Não Autorais e Conteúdos de Terceiros
<br><br>
7.1. Materiais Não Autorais: É proibido postar, compartilhar ou distribuir materiais que não sejam de sua autoria.
Isso inclui textos, imagens, vídeos, e outros conteúdos protegidos por direitos autorais.<br>
<br><br>
7.2. Provas e Conteúdos Pessoais: Postar provas de exames, trabalhos acadêmicos, materiais de aula
ou qualquer outro conteúdo pessoal ou pago de terceiros é estritamente proibido.<br>
<br><br>
7.3. Responsabilidade: Os usuários são os únicos responsáveis pelo conteúdo que postam nos comentários.
O site UnBook não se responsabiliza por quaisquer consequências resultantes da postagem de conteúdo inadequado ou ilegal.
<br><br>
8. Moderação e Ações Disciplinares
<br><br>
8.1. Moderação de Comentários: O site UnBook reserva-se o direito de moderar e remover quaisquer comentários que violem
estas diretrizes ou que sejam considerados inadequados, a critério exclusivo da equipe editorial.<br>
<br><br>
8.2. Ações Disciplinares: A violação das regras estabelecidas neste documento pode resultar em ações disciplinares,
incluindo a remoção do conteúdo, suspensão temporária ou permanente da conta do usuário, conforme necessário.
<br><br>
9. Disposições Finais
<br><br>
9.1. Alterações nos Termos: Estes Termos de Uso e Política de Comentários podem ser atualizados periodicamente para refletir mudanças nas práticas do site.
Os usuários serão notificados sobre quaisquer alterações significativas.
<br><br>
Estas diretrizes visam manter um ambiente seguro, respeitoso e legal para todos os usuários do site UnBook.
Se tiver alguma dúvida ou precisar de esclarecimentos adicionais, entre em contato conosco através dos canais de suporte disponíveis.
<br><br><br>
Ao prosseguir, você está confirmando que leu e compreendeu as informações acima e
consente com o tratamento dos seus dados pessoais conforme descrito.
<br><br>
Agradecemos sua colaboração e participação neste projeto acadêmico. Caso tenha
qualquer dúvida ou queira exercer seus direitos como titular de dados, entre em contato
conosco através do e-mail fornecido.
  </article>

  <button> Voltar </button>
</div>

{% comment %} termos {% endcomment %}

  <a href="/"><img class="UnBook_logo_mini" src="{% static "image/UnBook_loguinho.png" %}" alt=""></a>

  <form class="form" id="form" action="./sucesso/" method="post" name="contact-form">
    {% csrf_token %}

    <div style="display: flex; flex-direction: row; padding: 40px 40px 5px 40px; justify-content: space-between;">
      <h1 style="font-size: 3em;">Cadastro</h1>
      <a href="./login"><img style="width:3em; height:3em" src="{% static "image/Arrow_back.png"%}"/></a>
    </div>
    
    <main>
      <h3 class="campoFalado">Insira seu nome completo:</h3>

      <label>
        {{form.name}} 
        <span class="spans_required"> Digite um nome com mais de 3 caracteres </span>
      </label>

      <h3 class="campoFalado">Insira um nome para o usuario:</h3>

      <label>
        {{form.username}}
        <span class="spans_required"> Digite um nome maior que 3 caracteres ou menor que 12 caracteres, que não contenha espaço e símbolos (.#*&%!)</span>
      </label>

      <h3 class="campoFalado">Insira seu e-mail institucional: <span style="color: grey; font-size: 0.75em">(123456789@aluno.unb.br)</span></h3>

      <label>
        {{form.email}}
        <span class="spans_required"> Digite um e-mail válido</span>
      </label>

      <h3 class="campoFalado">Crie uma senha:</h3>

      <label>
        {{form.password}}
        <span class="spans_required"> Sua senha está fraca</span>
      </label>

      <h3 class="campoFalado">Confirme sua senha:</h3>

      <label>
        {{form.senha_confirma}}
        <span class="spans_required"> Sua senha está diferente da anterior</span>
      </label>
    </main>


    <div id="termos_box">
        <h2> Declaro que li e concordo com os <span onclick="abrir_termos()"id="termos">termos de uso</span></h2>
        <input type="checkbox" id="check_termos">
    </div>

    <input type="submit" id="submit" disable>
        <div id="error-message"></div>

      </div>
    
    {% comment %} <div>{{request.session.erro}}</div> {% endcomment %}
    {% if messages %}
            {% for message in messages %}
                <h3 class="alerta" onclick="RetirarAlerta(this)">{{message}}</h3>
            {% endfor %}
    {% endif %}
  </body>

  </form>

  <script src="{% static "js/confirma_(Cadastro.html).js" %}"></script>
  <script>
    function back() {
      history.back()
    }
  </script>
  <script>
    $(document).ready(function() {
        $('#form').on('submit', function(event) {
            event.preventDefault(); // Previne o envio do formulário padrão

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    if (!response.success) {
                        $('#error-message').text(response.error);
                    } else {
                        // Em caso de sucesso, redireciona ou atualiza a página conforme necessário
                        window.location.href = "/cadastro/sucesso/";
                    }
                },
                error: function(xhr, status, error) {
                    alert('Ocorreu um erro ao processar a solicitação.');
                }
            });
        });
    });
  </script>
  
</body>

</html>