{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0c36a1">
    <link rel="shortcut icon" href= "{% static "image/UnBook_page.ico" %}" type="image/x-icon">
    <title>Pagina de login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"> <!--LINK PARA O FONT MONSTSERRAT USADO NA PAGINA -->

<link rel="stylesheet" href="{% static "css/styles_(Login.html).css" %}"> <!--LINK PARA O CSS DA PAGINA -->
</head>

<body>

    <a href="/"><img class="UnBook_logo_mini" src="{% static "image/UnBook_loguinho.png" %}" alt=""></a>
    <!--LINK PARA VOLTAR PARA O UNBOOK-->

    <div id="box" class="box">
        <form class="form" id="form" action="./logado/" method="post" name="contact-form">
            {% csrf_token %}
            <div id="erro_nn_log"> {{ erro }} </div>

            <div style="display: flex; flex-direction: row; padding: 40px 40px 5px 40px; justify-content: space-between;">
                <h1 style="font-size: 3em"> Login </h1>
                <a href="../"><img style="width:3em; height:3em" src="{% static "image/Arrow_back.png"%}"/></a>
              </div>

            <h3 class="campoFalado"> Digite o seu e-mail institucional:</h3>
            
            <label>
                {{form.email}}
                <span class="spans_required"> Digite um e-mail valido</span>
            </label>

            <h3 class="campoFalado"> Senha: </h3>
            
            <label>
                <i class="bi bi-eye-fill"></i>
                {{form.password}}
                <span class="spans_required"> Digite uma senha valida</span>
            </label>

           
            <input type="submit" id="submit" value="Enviar" class="botao_entrar" onclick="verifica();"> <!--BOTAO/LINK PARA ABRIR A FUNÇÃO VERIFICA() QUE VERIFICA AS  FUNÇÕES-->

            <div style="margin-left: 1em; color: red;">{{request.session.erro}}</div>

            <a class="cadastro" href="/cadastro"> Cadastre-se aqui </a>
            <a class="senha" href="./esqueceu"> Esqueceu a senha? </a>
            <a class="email_nn" href="../sucesso/nao-recebi"> Não confirmou seu e-mail? </a>

        </form>
    </div>

</body>

<!--LINK PARA ARQUIVOS JS-->
<script src="{% static "js\script_(Login.html).js"%}"></script>

</html>