{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina de login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"> <!--LINK PARA O FONT MONSTSERRAT USADO NA PAGINA -->

<link rel="stylesheet" href="{% static "css/styles_(Login.html).css" %}"> <!--LINK PARA O CSS DA PAGINA -->
</head>

<body>

    <a href="/"><img class="UnBook_logo_mini" src="{% static "image/UnBook_loguinho.png" %}" alt=""></a>
    <!--LINK PARA VOLTAR PARA O UNBOOK-->

    <div id="box" class="box">
        <form class="form" id="form" action="./logado/" method="post" name="contact-form">
            {% csrf_token %}
            <div id="erro_nn_log"> {{ erro }} </div>
            <h1 class="login"> Login </h1>
            <h3 class="campoFalado"> Digite o seu e-mail:</h3>
            
            <label>
                {{form.email}}
                <span class="spans_required"> Digite um e-mail valido</span>
            </label>

            <h3 class="campoFalado"> Senha: </h3>
            
            <label>
                {{form.password}}
                <span class="spans_required"> Digite uma senha valida</span>
            </label>

           
            <input type="submit" id="submit" class="botao_entrar" > </a> <!--BOTAO/LINK PARA ABRIR A FUNÇÃO VERIFICA() QUE VERIFICA AS FUNÇÕES-->

            <div>{{request.session.erro}}</div>

            <a class="cadastro" href="/cadastro"> Cadastre-se aqui </a>
            <a class="senha" href="./esqueceu"> Esqueceu a senha? </a>
        </form>
    </div>

</body>

<!--LINK PARA ARQUIVOS JS-->
<script src="{% static "js\script_(Login.html).js"%}"></script>

</html>