{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina de login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"> <!--LINK PARA O FONT MONSTSERRAT USADO NA PAGINA -->

<link rel="stylesheet" href="{% static "css/styles_(Login.html).css" %}"> <!--LINK PARA O CSS DA PAGINA -->
</head>

<body>

    <a href="/UnBook"><img class="UnBook_logo_mini" src="{% static "image/UnBook_loguinho.png" %}" alt=""></a>
    <!--LINK PARA VOLTAR PARA O UNBOOK-->

    <div id="box" class="box">

        <h1 class="login"> Login </h1>

        <h3 class="campoFalado"> Nome do usuário ou e-mail:</h3>
        <input class="campoEscrito , required" id="campoEscritaEmail" type="text" placeholder="Digite seu login">
        <span class="spans_required"> Digite um e-mail valido</span>


        <h3 class="campoFalado"> Senha: </h3>
        <input class="campoEscrito , required" id="campoEscritaSenha" type="password" placeholder="Digite sua senha">
        <span class="spans_required"> Digite uma senha valida</span>

        <a class="botao_entrar" onclick="verifica()"> Entrar > </a> <!--BOTAO/LINK PARA ABRIR A FUNÇÃO VERIFICA() QUE VERIFICA AS FUNÇÕES-->
        
        <a class="cadastro" href="/cadastro"> Cadastre-se aqui </a>
        <a class="senha" href="./esqueceu"> Esqueceu a senha? </a>

    </div>

</body>

<!--LINK PARA ARQUIVOS JS-->
<script src="{% static "js\script_(Login.html).js"%}"></script>

</html>