{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href= "{% static "image/UnBook_page.ico" %}" type="image/x-icon">
    <title>Perfil</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" /> <!-- LINK PARA O FONT MONTSERRAT USADO NA PAGINA -->

    <link rel="stylesheet" href="{% static 'css/styles_(Perfil.html).css' %}" /> <!-- LINK PARA O CSS DA PAGINA -->
  </head>

  <body>

    <div id="fundo_blur"></div>

    <div id="modal_avaliacao">
      <div id="avaliacao">
        <h1 class="CampoFalado1_modal">Atualizar perfil</h1>

        <hr style="margin: 0 1em" />

        <div id="scroll_modal">
          <div id="boxes_modal">
            <div class="boxes_modal" id="box_modal_1">
              <h2 class="CampoFalado2_modal">Curso</h2>
              <h4 class="CampoFalado3_modal">Qual é o seu curso?</h4>
              
              <div class="espaco_buttons">
                <h2 class="prox_button" id="prox_button_1">Próximo</h2>
              </div>
              
            </div>

            <div class="boxes_modal" id="box_modal_2">
              <h2 class="CampoFalado2_modal">Semestre</h2>
              <h4 class="CampoFalado3_modal">Em qual semestre você entrou na UnB?</h4>

              <div class="espaco_buttons">
                <h2 class="back_button" id="back_button_1">Voltar</h2>
                <h2 class="prox_button" id="prox_button_2">Próximo</h2>
              </div>
            </div>

            <div class="boxes_modal" id="box_modal_3">
              <h2 class="CampoFalado2_modal">Dificuldade</h2>
              <h4 class="CampoFalado3_modal">Informe sua dificuldade ao realizar essa matéria</h4>

              <div class="espaco_buttons">
                <h2 class="back_button" id="back_button_2">Voltar</h2>
                <h2 class="prox_button" id="prox_button_3">Próximo</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>












    <a href="/"><img class="UnBook_logo_mini" src="{% static 'image/UnBook_loguinho.png' %}" alt="UnBook Logo" /></a>

    <div id="boxes">
      <div id="modal_imgs">
        <div class="balls" id="model_1" onclick="escolha_img(this.id)">#1</div>
        <div class="balls" id="model_2" onclick="escolha_img(this.id)">#2</div>
        <div class="balls" id="model_3" onclick="escolha_img(this.id)">#3</div>
        <div class="balls" id="model_4" onclick="escolha_img(this.id)">#4</div>
        <div class="balls" id="model_5" onclick="escolha_img(this.id)">#5</div>
      </div>

      <div id="box1">
        <div id="espace_img_user">
          <div id="img_user"></div>
        </div>

        <div id="CampoEscrito_box1">
          <h1 id="user_box1">@{{ user.username }}</h1>
          <h2 class="CampoEscrito2_box1">{{ user.email }}</h2>
        </div>

        <hr style="margin: 0 2em" />

        <div id="scroll">
          <h2 class="pages" onclick="abrir_modal(this.id)" id="edit_profile">Perfil</h2>
          <h2 class="pages" onclick="abrir_modal(this.id)" id="edit_senha">Senha</h2>
          <h2 class="pages" onclick="abrir_modal(this.id)" id="estatistica">Estatística</h2>
        </div>
      </div>

      <div id="espace_pages">
        <div class="boxs" id="Profile">
          {% csrf_token %}

          <div id="espace_1">
            <h1 class="CampoEscrito_profile">Seja bem-vindo <br /><span id="user">{{ user.username }}</span></h1>

            {% if user.is_authenticated %}
              <a class="botoes" type="button" href="{% url 'logout' %}">logout</a>
            {% endif %}
          </div>

          <hr style="margin: 0 2em" />

          <form class="form" id="form" action="./usuario/" method="post" name="contact-form">
            {% csrf_token %}

              <div id="space_2_1_Profile">
                <h2 class="CampoFalado_Profile">Curso: <span class="respostas">{{ perfil.curso}}</span></h2>

                <h2 class="CampoFalado_Profile">Semestre: <span class="respostas">{{ perfil.semestre}}</span></h2>
              </div>

            <div id="space_2_2_Profile">

              <h2 class="CampoFalado_Profile">Sobre você:</h2>
              <h2 class="respostas2"> {{perfil.descricao}}</h2>

            </div>

            <div id="space_2_3_Profile">
              <h2 class="botoes" id="atualizar"> Atualizar informações</h2>
            </div>

        </div >

            {% comment %} <div id="space_2_Profile">
              <div id="space_2_1_Profile">

                <h2 class="CampoFalado_Profile">Curso</h2>
                <label>
                  {{form.curso}}
                </label>

                <h2 class="CampoFalado_Profile">Semestre</h2>
                <label>
                  {{form.semestre}}
                </label>
              
              </div>
              
              <label class="CampoFalado_Profile" for="descricao">Sobre você</label>

              <label>
                {{form.descricao}}
              </label>
              <input type="submit" id="submit" value=" Enviar" class="botao_entrar">
            </div> {% endcomment %}
        </div>

        <div class="boxs" id="Senha">
          {% csrf_token %}

          <div id="space_1_Senha">
            <h1 class="CampoEscrito_Senha">Senha</h1>

            {% if user.is_authenticated %}
              <a class="botoes" type="button" href="{% url 'logout' %}">logout</a>
            {% endif %}
          </div>

          <hr style="margin: 0 2em" />

          <div id="space_2_Senha">
            <div id="box_senha_instrucoes">Esse campo está reservado à mudança de senha. Caso queira alterá-la, basta inserir sua senha no campo "Senha antiga", e nos outros campos atualizar e confirmar sua senha.</div>
            <form class="form" id="form" action="./login" method="post" name="contact-form">
              {% csrf_token %}
              <div id="box_senha_form">
                <h2 class="CampoFalado_Senha">Senha antiga</h2>
                <input class="forms" type="password" id="senha_antiga" />

                <h2 class="CampoFalado_Senha">Senha Nova</h2>
                <input class="forms" type="password" id="senha_nova" />

                <h2 class="CampoFalado_Senha">Confirmar senha nova</h2>
                <input class="forms" type="password" id="senha_nova_confirma" />

                <button id="submit">Mudar senha</button>
              </div>
          </div>
        </div>

        <div class="boxs" id="Estatistica">
          {% csrf_token %}

          <div id="box_desenv">


            <h1 id="Desenv" >Em desenvolvimento!</h1>
          </div>
        </div>









      </div>
    </div>


    

    <!-- LINK PARA ARQUIVOS JS -->
    <script src="{% static 'js/script_(Perfil.html).js' %}"></script>
  </body>
</html>
