{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0c36a1">
    <link rel="shortcut icon" href="{% static 'image/UnBook_page.ico' %}" type="image/x-icon" />
    <title>Verifique seu Email!</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" /> <!-- LINK PARA O FONT MONSTSERRAT USADO NA PAGINA -->

    <link rel="stylesheet" href="{% static 'css/styles_(Verifica.html).css' %}" /> <!-- LINK PARA O CSS DA PAGINA -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" />
  </head>

  <body>
    <a href="/"><img class="UnBook_logo_mini" src="{% static 'image/UnBook_loguinho.png' %}" alt="" /></a>
    <!-- LINK PARA VOLTAR PARA O UNBOOK -->

    <div id="box" class="box"> 
      <h1 class="login">Verificar e-mail</h1>

      
      <h3 class="campoFalado">
          Olá,
          
          seja bem vindo! Para realizar a confirmação de seu endereço de e-mail, enviamos um e-mail de confirmação.   Olhe a caixa de spam!
        </h3>
        
        <div class="icons">
            <i class="bi bi-envelope visivel"></i>
            <i class="bi bi-envelope-check"></i>
            <i class="bi bi-envelope-open "></i>
            <i class="bi bi-envelope-paper-heart"></i>
        </div>

        <a style="textDecoration = none;" href="nao-recebi"><h3 onclick="alert('Desculpe o transtorno, enviaremos um novo e-mail para você imediatamente!')" class="campoFalado2"> Ainda não recebi meu e-mail</h3></a>
    </div>
  </body>

<script>

    const icons = document.querySelectorAll('.icons i');
    let currentIconIndex = 0;

    function showNextIcon() {
        // Esconde o ícone atual
        icons[currentIconIndex].classList.remove('visivel');
        
        // Calcula o índice do próximo ícone
        currentIconIndex = (currentIconIndex + 1) % icons.length;
        
        // Mostra o próximo ícone
        icons[currentIconIndex].classList.add('visivel');
    }

    // Alterna os ícones a cada 1 segundo (1000 milissegundos)
    setInterval(showNextIcon, 1000);

</script>

</html>
