* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #0C36A1, #008940);
    width: 100%;
    background-attachment: fixed;

    height: 150vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

ul {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* inicio das paginas */
/*PAGINA1*/

.UnBook_logo_mini a {
    display: block;
    text-decoration: none;

    margin-right: auto;
    margin-left: auto;
    position: relative;
    color: whitesmoke;

    margin-left: 30px;
    top: 30px;
}

.UnBook_logo_mini {
    display: inline;

    width: 25em;
    height: auto;

    position: relative;

    margin-left: 10px;
    top: 20px;
}

#box1 {
    position: relative;

    margin-right: 3em;
    margin-left: 3em;
    margin-top: 3em;

    width: 20em;
    height: 30em;
    padding: 1em;

    display: block;

    background-color: #CDE4DF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25), 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.avaliacao {
    margin-top: 1em;
    /* Adicione um espaçamento entre os elementos */
}

.CampoFalado1 {
    color: black;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
}

.CampoFalado2 {
    color: black;
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
}

.avaliacao {
    margin-top: -0.75em;
}

.avaliacao ul {
    list-style: none;
    padding: 0;
    position: relative;
}

.avaliacao li {
    display: inline-block;
    text-shadow: 0 0 1px #ffd000;
}

.star::before {
    cursor: pointer;
    content: '\2606';
    color: #ffd000;
    font-size: 2.5em;
}

.destaque::before {
    content: '\2605';
    color: #ffd000;
    font-size: 3em;
    cursor: pointer;
    z-index: 999;
}

.star:hover::before {
    content: "\2605";
}

.notas {
    font-size: 1em;
    position: relative;
    top: -0.5em;

}

/* NAO CONSIGO POSICIONAR ESTA PORRA */
#Postar {
    position: absolute;
    bottom: 0;
    width: 100%;


    left: 60%;
    transform: translate(-50%);

    display: block;

    padding: 0 0 0.5em 0;

    color: #0C36A1;
    cursor: pointer;

    font-size: 2em;
 
}


#box3 {

    position: absolute;
    left: 24em;

    margin-right: 3em;
    margin-left: 3em;
    margin-top: 3em;

    width: 70%;
    height: 60em;

    display: block;
    background-color: #CDE4DF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}