:root {
  --cinzinha: #9BABA6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #0c36a1, #008940);
  width: 100%;
  background-attachment: fixed;

  height: 150vh;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 15px;
  height: auto;
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

ul {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* inicio das paginas */
/*PAGINA1*/

.UnBook_logo_mini a {
  display: block;
  text-decoration: none;

  margin-right: auto;
  margin-left: auto;
  position: relative;
  color: whitesmoke;

  margin-left: 30px;
  top: 30px;
}

.UnBook_logo_mini {
  display: inline;

  width: 25em;
  height: auto;

  position: relative;

  margin-left: 10px;
  top: 20px;
}

.boxes {
  display: flex;
}

.box1_2 {
  position: relative;

  margin-right: 1em;
  margin-left: 1em;
  margin-top: 3em;

  width: 30%;
  height: auto;

  display: flex;
  flex-direction: column;
}

#box1 {
  top: 30%;

  width: 100%;
  height: 25%;
  padding: 1em;

  display: block;

  background-color: #cde4df;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25),
    0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.CampoFalado1_box1 {
  color: black;
  position: relative;
  font-size: 1.2em;
  text-align: center;

  display: block;
  position: relative;
  top: 15%;
}

.CampoFalado2 {
  color: black;
  text-align: left;
  font-size: 1.5em;
  font-weight: 700;
}

/* BOX 2 */

#box2 {
  display: block;
  margin-top: 1.5em;

  width: 100%;
  height: 5em;

  background-color: #cde4df;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25),
    0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

#box2:hover {
  transform: scale(1.05);
}

#box2:active {
  transform: scale(0.95);
}

#Upload_Videos {
  display: none;
  position: relative;
  top: 30%;
}

#box2 label:hover {
  color: #0b4c8c;
}

#box2 label {
  width: auto;
  height: 3.25em;

  padding-top: 1em;

  color: black;
  font-weight: 700;
  font-size: 1.5em;
  display: block;
  position: relative;

  text-align: center;
  align-items: center;
  cursor: pointer;
}

/* BOX3 */

#box3 {
  position: relative;

  margin-right: 3em;
  margin-top: 3em;

  width: 100%;
  height: 50em;
  text-align: center;

  display: block;
  background-color: #cde4df;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

#Materia {
  display: block;
  font-size: 2em;
}

a#Prof {
  display: block;
  font-size: 1.25em;
  font-weight: bolder;
  text-decoration: none;
  color: #0b4c8c;
  text-align: center;
  margin-top: 0em;
  margin: auto;
  width: 30em;
  height: auto;
}

#retry {
  display: block;
  text-align: right;
  position: relative;
  top: 2.5em;
  left: 90.65%;
  width: 3em;
  height: 3em;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

#retry:hover {
  transform: scale(1.05);
}

#Videos {
  position: relative;
  display: block;
  font-size: 4em;
}

.links {
  font-size: 1.25em;
  font-weight: 500;
  text-decoration: underline;
  color: #0b4c8c;
  cursor: pointer;
  margin-top: 0.5em;
  margin-left: 0.5em;
  display: inline-block;
}

#fundo_blur {
  width: 100%;
  height: 150vh;
  position: fixed;

  display: none;
  background-color: hsla(0, 0%, 0%, 0.8);
  backdrop-filter: blur(50px);
  z-index: 3;
}

#posta_link {
  width: 90%;
  height: fit-content;
  max-height: 32em;
  display: block;
  position: relative;
  align-items: center;

  overflow-y: auto;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.300);

  padding: 1em 1em;
}

#posta_link::-webkit-scrollbar {
  width: 15px;
  height: auto;
}

#posta_link::-webkit-scrollbar-thumb {
  background-color: #cde4df;
  border-radius: 20px;
  border: solid 1px #0000002a;
  /* roundness of the scroll thumb */
}

#posta_link::-webkit-scrollbar-track {
  background-color: #0000002a;
  border-radius: 25px;
  margin-right: 2em;
}


.arquivos {
  border-radius: 20px;
  background-color: #cde4df;
  box-shadow: -2px 2px 2px black;
  
  width: 100%;
  height: 8em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

  margin-bottom: 1.5em;
  transition: all 0.3s ease;
}

.caixa_link {
  width: fit-content;
  height: fit-content;
  background-color: #589b5f74;
  text-decoration: none;
}

#resumos:hover {
  transform: scale(1.015);
  background-color: #81E28B;
}
#videos:hover {
  transform: scale(1.015);
  background-color: #E95959;
}
#atividades:hover {
  transform: scale(1.015);
  background-color: #68AEEF;
}

.image{
  width: 4em;
  height: 4em;
   padding: 0.25em 0.5em;
  display: flex;
  border-radius: 10px;
}

#videos .image {
  background-color: #E95959;
  color: #a94141;
}
#resumos .image {
  background-color: #81E28B;
  color: #589b5f;
}
#atividades .image {
  background-color: #68AEEF;
  color: #43739f;
}

.title {
  font-size: 1.2em;
  width:100%;
}

.text_arquivos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  margin-left: 1em;
  margin-top: 0.5em;
}

.link , .like {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

#link {
  color:#0b4c8c;
  text-decoration: none;
  font-size: 1em;
  background-color: #0000002a;
  padding: 0 0.5em;
  border-radius: 25px;
  transition: all 0.3s ease;
}

#link:hover {
  background-color:#0b4c8c;
  color: whitesmoke;
}

.heart {
  outline: none;
  background: transparent;
  border: none;
  font-size: 1em;
  position: relative;
  cursor: pointer;

  color: grey;
}

.usuarios {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  max-width: 40em;
}

.buttons {
  font-size: 1.5em;
  width: 6em;
  display: 	flex;  
  justify-content: space-evenly;
  transition: all 0.3s ease;

  background-color: var(--cinzinha);
  padding: 0.25em 0.5em;
  border-radius: 15px;
  z-index: 5;
}

.buttons i {
  transition: all 0.3s ease;
}

  .buttons i#joia:hover {
  color:#81E28B;
  stroke: 2px whitesmoke;
}
  .buttons i#denunciar:hover {
  color:#E95959;
  stroke: 2px whitesmoke;
}
  .buttons i#deletar:hover {
  color:#E95959;
  stroke: 2px whitesmoke;
}

.div_space {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 2em;
  text-align: left;
  width: 100%;
}

#modal_upload {
  position: fixed;
  display: none;
  width: 40em;
  height: 28em;
  background-color: #cde4df;
  border-radius: 25px;
  box-shadow: 0 0 10px black;
  z-index: 4;

  justify-content: center;

  top: 10em;
  left: 30%;
}

#CampoFaladoModal1 {
  text-align: center;
  position: relative;
  top: 0.5em;
}

#CampoFaladoModal2 {
  text-align: left;
  position: relative;
  margin: 1.5em 0 0.25em 2em;
}

.inputs {
  width: 90%;
  height: 3em;

  font-size: 1.5em;

  position: relative;
  background-color: whitesmoke;
  box-shadow: 0 0 10px black;
  border-radius: 25px;
  color: #0b4c8c;

  padding-left: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#enviar {
  width: 40%;
  height: 3em;

  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding-top: 0.8em;

  position: relative;
  background-color: #0b4c8c;
  box-shadow: 0 0 10px black;
  border-radius: 25px;
  text-decoration: none;
  color: whitesmoke;

  top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

#enviar:hover {
  transform: scale(1.05);
  text-shadow: 0 0 5px whitesmoke;
}
#enviar:active {
  transform: scale(0.95);
}

.nomeURL {
  display: inline-block;
  position: relative;

  text-align: left;
}

.alerta {
  background: #cde4df;
  box-shadow: -2px 2px 2px black;
  cursor: pointer;

  width: fit-content;
  height: auto;
  padding: 1em;
  position: absolute;
  top: 2em;
  right: 2em;

  border-radius: 25px;
  animation: abrir_janelas 0.3s;
  transition: all 0.3s ease-in-out;
}

.alerta:hover {
  transform: scale(1.05);
}

@keyframes abrir_janelas {
  from {
    opacity: 0;
    transform: translate3d(0, -5px, -20px);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.abrir {
  animation: abrir_janelas 0.3s;
  display: block;
}

@media screen and (max-width: 767px) {
  .UnBook_logo_mini a {
    display: block;
    text-decoration: none;

    margin-right: auto;
    margin-left: auto;
    position: relative;
    color: whitesmoke;

    margin-left: 30px;
    top: 30px;
  }

  .UnBook_logo_mini {
    display: inline;

    width: 12.5em;
    height: auto;

    position: relative;

    margin-left: 10px;
    top: 20px;
  }

  .boxes {
    display: relative;
    top: 2em;
    display: flex;
    flex-direction: column;
  }

  .box1_2 {
    position: relative;
    margin-left: 3%;
    margin-top: 0em;
    width: 23em;
    height: auto;
    order: 2;
    display: block;
  }

  #box1 {
    position: relative;
    margin: auto;

    width: 100%;
    height: 8em;
    padding: 0.5em;

    display: block;

    background-color: #cde4df;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25),
      0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }

  .CampoFalado1_box1 {
    color: black;
    position: relative;
    font-size: 1.2em;
    text-align: center;

    display: block;
    position: relative;
    top: 15%;
  }

  .CampoFalado2 {
    color: black;
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
  }

  /* BOX 2 */

  #box2 {
    position: relative;
    top: 1em;
    margin: auto;
    margin-bottom: 1em;
    width: 100%;
    height: 4em;
    padding: -1em;

    display: block;

    background-color: #cde4df;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25),
      0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }

  #box2:hover {
    transform: scale(1.05);
  }

  #box2:active {
    transform: scale(0.95);
  }

  #Upload_Videos {
    display: none;
    position: relative;
    top: 30%;
  }

  #box2 label:hover {
    color: #0b4c8c;
  }

  #box2 label {
    width: auto;
    height: 3.25em;

    padding-top: 1em;

    color: black;
    font-weight: 700;
    font-size: 1.5em;
    display: block;
    position: relative;

    text-align: center;
    align-items: center;
    cursor: pointer;
  }

  /* BOX3 */

  #box3 {
    position: relative;

    margin: 3%;
    margin-top: 2em;

    width: 23em;
    height: 60em;
    order: 1;
    display: block;
    background-color: #cde4df;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }

  #Materia {
    display: block;
    font-size: 1em;
  }

  a#Prof {
    display: block;
    font-size: 1em;
    font-weight: bolder;
    text-decoration: none;
    color: #0b4c8c;
    text-align: center;
    margin-top: 0em;
    margin: auto;
    width: 20em;
    height: auto;
  }

  #retry {
    display: block;
    text-align: right;
    position: relative;
    top: 0.2em;
    left: 88%;
    width: 2em;
    height: 2em;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }

  #retry:hover {
    transform: scale(1.05);
  }

  #Videos {
    position: relative;
    display: block;
    font-size: 2em;
  }

  .links {
    font-size: 1em;
    font-weight: 500;
    text-decoration: underline;
    color: #0b4c8c;
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: 0.5em;
    display: inline-block;
  }

  #fundo_blur {
    width: 100%;
    height: 120vh;
    position: fixed;

    display: none;
    background-color: hsla(0, 0%, 0%, 0.8);
    backdrop-filter: blur(50px);
    z-index: 3;
  }

  #posta_link {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow-y: auto;
    margin: auto;
    text-align: center;
  }

  #modal_upload {
    position: fixed;
    display: none;
    width: 20em;
    height: 28em;
    background-color: #cde4df;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    z-index: 4;

    left: 2em;
    top: 10em;
  }

  #CampoFaladoModal1 {
    font-size: 1.5em;
    text-align: center;
    position: relative;
    top: 0.5em;
  }

  #CampoFaladoModal2 {
    font-size: 1.25em;
    text-align: center;
    position: relative;
    margin: 2em 2em 0.25em 2em;
  }

  .inputs {
    width: 90%;
    height: 2em;

    font-size: 1em;

    position: relative;
    background-color: whitesmoke;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    color: #0b4c8c;

    padding-left: 1em;
    display: block;
    margin: 0 1em;
  }

  #enviar {
    width: 50%;
    height: auto;

    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    padding-top: 0em;

    position: relative;
    background-color: #0b4c8c;
    box-shadow: 0 0 10px black;
    border-radius: 25px;
    text-decoration: none;
    color: whitesmoke;

    top: 3em;
    display: block;
    margin: auto;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
  }

  #enviar:hover {
    transform: scale(1.05);
    text-shadow: 0 0 5px whitesmoke;
  }
  #enviar:active {
    transform: scale(0.95);
  }

  .nomeURL {
    display: inline-block;
    position: relative;
    font-size: 1em;
    text-align: left;
  }

  @keyframes abrir_janelas {
    from {
      opacity: 0;
      transform: translate3d(0, -5px, -20px);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .abrir {
    animation: abrir_janelas 0.3s;
    display: block;
  }
}
