* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #0C36A1, #008940);
    width: 100%;
    background-attachment: fixed;

    height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

ul {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* inicio das paginas */
/*PAGINA1*/

.UnBook_logo_mini {
    display: block;

    width: 25em;
    height: auto;

    position: relative;

    margin-left: 10px;
    top: 20px;
}

#boxes {
    background-color: #f5f5f5c8;
    box-shadow: -10px 10px 1px #5b5b5bc8;
    border-radius: 50px;
    width: 95%;
    height: 35em;


    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
}

#box1 {
    background-color: #f5f5f5;
    width: 30em;
    height: auto;
    border-radius: 50px;
    display: flex;
    margin: 1em;
    display: flex;
    flex-direction: column;

}

#espace_img_user {
    width: 100%;
    height: 15em;
}

#img_user {

    margin: auto;
    position: relative;
    width: 13em;
    height: 13em;
    top: 1.5em;
    background-color: #00894034;
    box-shadow: -10px 5px 1px #f5f5f5c8;
    border-radius: 100%;
}

#CampoEscrito_box1 {
    width: 100%;
    height: 15%;
}

#user_box1 {
    color: #0B4C8C;
    margin: auto;
    text-align: center;
}

#scroll {
    margin-top: 1em;
    width: auto;
    height: 23%;

    text-align: center;
    padding: 0.75em 2em;

    overflow-y: auto;
}

#scroll::-webkit-scrollbar {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

#scroll::-webkit-scrollbar-thumb {
    background-color: #E6F2FB;
    /* color of the scroll thumb */
    border-radius: 20px;
    border: solid 1px #0000002a;
    /* roundness of the scroll thumb */
}

#scroll::-webkit-scrollbar-track {
    background-color: #0000002a;
    border-radius: 25px;
}

.pages {
    margin-top: 0.5em;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 25px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    ;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pages:hover {
    transform: scale(1.025);
}

@keyframes aparece {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

.boxs {
    animation: aparece 1s;
}

.forms {
    width: 15em;
    height: 2em;

    font-size: 1em;
    margin-top: 0.25em;
    margin-bottom: 1em;
    padding: 0.5em 20px;

    background-color: #D9D9D9;
    border: none;
}

#Profile {
    background-color: #f5f5f5;
    width: 75%;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-left: 0em;
}

#espace_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10em;
}

.CampoEscrito_profile {
    font-size: 2em;
    padding: 40px 5px 5px 40px;
}

.CampoEscrito2_box1 {
    font-size: 1.5em;
    margin: auto;
    text-align: center;
}

#user {
    position: relative;
    font-size: 2em;
    color: #0B4C9C;
    transition: all 0.3s ease;
    cursor: pointer;
}

#user:hover {
    text-shadow: 0 0 2px #0B4C8C;
}


.botoes {
    position: relative;
    width: auto;
    height: 2em;

    border: none;
    border-radius: 50px;
    background-color: #0B4C9C;

    margin-top: 30px;
    margin-right: 1em;

    color: white;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;

    transition: all 0.3s ease;
}

.botoes:hover {
    transform: scale(0.9);
}

#space_2_Profile {
    padding: 0em 3em 0em 3em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;


}

.CampoFalado_Profile {
    position: relative;
    margin-top: 1.5em;
    font-size: 1.5em;
    color: black;
}

#space_2_Profile .forms {
    width: 30em;
}


#Senha {
    background-color: #f5f5f5;
    width: 75%;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(255, 255, 255);

    display: none;
    flex-direction: column;
    margin: 1em;
    margin-left: 0em;

}

#space_1_Senha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 7em;
}

.CampoEscrito_Senha {
    position: relative;
    font-size: 3em;
    padding: 40px 5px 5px 40px;
}

.CampoFalado_Senha {
    position: relative;
    margin-top: 0.5em;
    font-size: 1.5em;
    color: black;
}

#space_2_Senha {
    padding: 0em 3em 0em 3em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

#box_senha_instrucoes {
    font-size: 1.5em;
    width: 30em;
    height: 60%;
    border: solid 1px black;
    padding: 1em;
    
    margin: 2em 2em;

}

#box_senha_form {
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 2em;
}


#submit {
    position: relative;


    width: 10em;
    height: 2em;

    border: none;
    border-radius: 20px;
    background-color: #0B4C9C;

    margin-top: 30px;
    margin-right: 1em;


    color: white;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;

    transition: all 0.3s ease;
}

#submit:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #0B4C8C;
}

#submit:active {
    transform: scale(0.9);
}