* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #0C36A1, #008940);
    width: 100%;

    background-attachment: fixed;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

ul {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* inicio das paginas */
/*PAGINA1*/


.UnBookLogo {
    max-width: 1212px;
    max-height: 484px;

    width: auto;
    height: auto;


    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 5%;

}

.fundo_branco {

    width: 100%;
    height: 650px;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    background-image: linear-gradient(to right, #E6F2FB, whitesmoke);
    z-index: -1;
    margin-top: -1em;
}

.qmsomos {
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;

    display: block;
    color: black;

    position: relative;
    text-align: center;

    margin-left: auto;
    margin-right: auto;

    top: 1.5em;

    transition: all 0.3s ease;
}

.qmsomos:hover {
    transform: scale(1.05);
}

.unbloguinho {
    position: absolute;
    max-width: 117px;
    max-height: 59px;

    width: auto;
    height: auto;

    top: 10px;
    right: 10px;
    display: block;
}

.botao_arrasta {

    margin-right: auto;
    margin-left: auto;


    width: 20em;
    height: auto;

    position: relative;
    text-align: center;

    top: -60px;
    display: block;
}

.botao_arrasta a {
    color: white;
    font-size: 2rem;
    text-shadow: 0 1.5px black;
    text-decoration: none;

    background-color: #133E79;
    border: 5px solid #133E79;
    border-radius: 50px;
    padding: 0.5rem 1rem;

    cursor: pointer;
    transition: all 0.3s ease;
}

.botao_arrasta:hover {
    transform: scale(1.05);
}

.botao_arrasta a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px #0B4C8C;
}

.botao_arrasta:active {
    transform: scale(1);
}

.page2 {
    background-color: transparent;
    height: 27vh;
}

/*PAGINA3*/

#search {
    background-color: transparent;
    height: 95vh;
}

.UnBook_logo_mini {
    display: block;

    width: 25em;
    height: auto;

    position: relative;

    margin-left: 10px;
    top: 20px;
}

.Login_icon {
    display: block;
    position: absolute;
    width: 10em;
    right: 3em;

}

.authentic {
    font-size: 1.5em;
    display: block;
    position: relative;
    font-weight: 900;
    margin: auto;
    text-align: center;
    color: #0B4C8C;
    text-decoration: none;


    top: -0.25rem;
    transition: all 0.3s ease;
}

.Login_icon a:hover {
    transform: translateY(2px);
    text-shadow: 0 0 50px #0B4C8C;
    color: #E6F2FB;
}

#user {
    background-color: #0B4C9C;
    width: 5em;
    height: 5em;
    margin: auto;
    display: block;

    border-radius: 50%;
    margin-top: -6.5em;

}

.user {
    width: 100%;
    height: 100%;
    color: white;

    display: block;
    border-radius: 50%;
    padding-top: 0.5em;

}


#perguntas {
    position: relative;
    top: 6em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pergunta {
    color: white;
    font-size: 2rem;
}

.botoes {
    width: 10em;
    height: auto;

    display: block;
    margin: auto;

    width: 10em;

    background-color: #133E79;
    border-radius: 50px;


    padding: 0.5rem 4.5rem;
    margin-top: 0.5em;

    color: white;
    font-size: 2rem;
    text-shadow: 0 1.5px black;


    cursor: pointer;
    transition: all 0.3s ease;
}



.botoes:hover {
    justify-content: center;
    transform: scale(1.05);
    box-shadow: 0 0 50px #0B4C8C;
}

.botoes:active {
    transform: scale(1);
}

/*JANELA*/


.CampoFalado {
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
    color: #E6F2FB;
}

.barra_pesquisa {
    width: 570px;
    height: 2em;
    display: block;

    margin: auto;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    font-size: 32px;
    padding: 0 0 0 40px;
    text-align: left;
    font-weight: 200;
    border: none;
}

.janela_pesquisa {
    margin-top: 5em;

    display: none;
    flex-direction: column;
}

div .janela_pesquisa {
    width: auto;
    height: auto;
}

.CampoProcura {
    width: 570px;
    height: 10em;

    display: block;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    border: none;
    margin-top: 1em;

    overflow-y: auto;
}

.CampoProcura::-webkit-scrollbar {
    display: none;
}

.CampoProcura ul {

    display: block;
    margin: auto;
    position: relative;
    padding: 1em 0 1em 2em;
    text-align: left;
    border: none;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 500;
    cursor: pointer;

    list-style-type: none;
}

.lista_professores:hover {
    color: #008940;
}

/* FIM DA JANELA */

/* JANELA MATERIA2 */

.janela_materia2 {
    width: 35.625em;
    height: 25em;
    display: block;

    display: none;
    margin: auto;

    background-color: #E6F2FB;
    border-radius: 50px;
    border: none;
    margin-top: 4em;
}

.CampoFalado2 {
    display: block;
    text-align: center;
    padding-top: 0.5em;
    margin-left: auto;

    margin-right: auto;

    font-size: 2em;
    color: black;
}

.CampoFalado3 {
    display: block;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    object-position: bottom;
    font-size: 1.5em;
    color: black;
    font-weight: 500;
}

#scroll {
    overflow-y: auto;
    width: auto;
    height: auto;
    margin-right: 10px;
}

#scroll::-webkit-scrollbar {
    width: 15px;
    height: auto;

}

#scroll::-webkit-scrollbar-thumb {
    background-color: #E6F2FB;
    /* color of the scroll thumb */
    border-radius: 20px;
    border: solid 1px #0000002a;
    /* roundness of the scroll thumb */
}

#scroll::-webkit-scrollbar-track {
    background-color: #0000002a;
    border-radius: 25px;
}


.professor {
    display: block;

    position: relative;
    width: auto;
    height: auto;

    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 25px;
    box-shadow: 0 0 10px black;
    margin: 1em;
    padding: 1em 1em;
    text-decoration: none;

    transition: all 0.3s ease-in-out;
}

#box {
    display: inline-block;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #008940;
    width: 5em;
    height: 5em;

}

.professor:hover {
    transform: scale(1.01);
}

#box img {
    display: block;

    width: 5em;
    height: 5em;

}

.professores {
    display: inline-block;
    position: relative;
    top: -1em;
    margin-left: 0.5em;
    font-size: 1.5em;
    font-weight: 400;
    color: black;
}

.CampoFalado4 {
    display: block;
    text-align: center;
    top: 2em;

    font-size: 2em;
    color: black;
}

/* FIM DA JANELA MATERIA2 */

@keyframes abrir_janelas {
    from {
        opacity: 0;
        transform: translate3d(0, -5px, -20px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir {
    animation: abrir_janelas 0.3s;
    display: flex;
    flex-direction: column;
}


/* CABOUJANELA */

/*DISPOSIVO MOBILE  */