* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #0C36A1, #008940);
    width: 100%;

    background-attachment: fixed;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

ul {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

html::-webkit-scrollbar {
    width: 15px;
    height: auto;
    display: none;
}

/* inicio das paginas */
/*PAGINA1*/

.fa-crown {
    font-size: 2em;
    color: gold; 
    top:0.25em;
    left: 2.85em;
    position: relative;
    transform: rotate(30deg);
  }

#nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 25em;

}

a#FAC , a#qmsomos {
    text-decoration: none;
    font-size: 1.75em;
    font-weight: bolder;

    color: black;

    position: relative;
    text-align: center;

    top: 1.5em;

    transition: all 0.3s ease; 

    background-color: #E6F2FB;
    padding: 0.25em 1em;
    border-radius: 25px;
    border: solid 2px black;
    box-shadow: #0B4C8C -2px 2px 1px ;
    overflow: hidden;
}

#qmsomos:hover , #FAC:hover {
    transform: scale(1.05);
}
#qmsomos:active , #FAC:active {
    transform: scale(0.95);
}

#qmsomos:after , #FAC:after {
    background: #0B4C8C;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  
#qmsomos:hover:after , #FAC:hover:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }


.UnBookLogo {
    max-width: 1212px;
    max-height: 484px;

    width: auto;
    height: auto;


    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 5%;

}

.fundo_branco {

    width: 100%;
    height: 650px;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    /* background: var(--fundobranco, linear-gradient(0deg, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0.31) 100%), linear-gradient(230deg, rgba(0, 0, 0, 0.00) 22.37%, rgba(0, 194, 255, 0.11) 62.11%), linear-gradient(125deg, rgba(179, 40, 244, 0.03) 61.39%, rgba(255, 0, 199, 0.12) 79.2%), #F8F8F8); */
    background-color: whitesmoke;

    z-index: -1;
    margin-top: -1em;
}


.unbloguinho {
    position: absolute;
    max-width: 117px;
    max-height: 59px;

    width: auto;
    height: auto;

    top: 10px;
    right: 10px;
    display: block;
}

a#botao_arrasta {
    
    display: block;
    position: relative;
    text-align: center;
    
    width: 10em;
    
    top: -60px;
    margin: auto;

    color: whitesmoke;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 0 1.5px black;
    text-decoration: none;

    background-color: #133E79;
    border-radius: 25px;
    padding: 0.25em 0em;

    cursor: pointer;
    transition: all 0.3s ease;
    
    /* border: solid 2px rgb(255, 255, 255); */
    box-shadow: #01203f -2px 2px 1px ;
    overflow: hidden;
}

a#botao_arrasta:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  
a#botao_arrasta:hover:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

a#botao_arrasta:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px #0B4C8C;
}

a#botao_arrasta:active {
    transform: scale(1);
}

.page2 {
    background-color: transparent;
    height: 27vh;
}

/*PAGINA3*/

#search {
    background-color: transparent;
    height: 95vh;
}

.UnBook_logo_mini {
    display: block;

    width: 25em;
    height: auto;

    position: relative;

    margin-left: 10px;
    margin-bottom: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2em 0 1em; 
}

.Login_icon {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
}

.authentic {
    font-size: 1.5em;
    display: block;
    position: relative;
    font-weight: 900;
    margin: auto;
    text-align: center;
    color: #0B4C8C;
    text-decoration: none;

    top: -0.25rem;
    transition: all 0.3s ease;
}

.Login_icon a:hover {
    transform: translateY(2px);
    text-shadow: 0 0 50px #0B4C8C;
    color: #E6F2FB;
}

#user {
    background-color: #0B4C9C;
    width: 5em;
    height: 5em;
    margin: auto;
    display: block;
    object-fit: cover;
    border-radius: 100%;

}

.user {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%; 
    display: block;
    border: 5px solid #0B4C9C ;
}


#perguntas {
    position: relative;
    top: 6em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pergunta {
    color: white;
    font-size: 2rem;
}

.botoes {
    width: 10em;
    height: auto;

    display: block;
    margin: auto;

    width: 10em;

    background-color: #133E79;
    border-radius: 50px;


    padding: 0.5rem 4.5rem;
    margin-top: 0.5em;

    color: white;
    font-size: 2rem;
    text-shadow: 0 1.5px black;


    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

.botoes:hover {
    justify-content: center;
    transform: scale(1.05);
    box-shadow: 0 0 50px #0B4C8C;
}

.botoes:active {
    transform: scale(1);
}

.botoes:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -30em;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: ease-in 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  
.botoes:hover:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

.botoes:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px #0B4C8C;
}


.alerta {
    background: whitesmoke;
    box-shadow: -2px 2px 2px black;
    cursor: pointer;
  
    width: fit-content;
    height: auto;
    padding: 1em;
    position: absolute;
    top: 2em;
    right: 2em;
  
    border-radius: 25px;
    animation: abrir_janelas 0.3s;
    transition: all 0.3s ease-in-out;
  }
  
  .alerta:hover {
    transform: scale(1.05);
  }




/*JANELA*/


.CampoFalado {
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
    color: #E6F2FB;
}

.barra_pesquisa {
    width: 570px;
    height: 2em;
    display: block;

    margin: auto;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    font-size: 32px;
    padding: 0 0 0 40px;
    text-align: left;
    font-weight: 200;
    border: none;
}

.janela_pesquisa {
    margin-top: 5em;

    display: none;
    flex-direction: column;
}

div .janela_pesquisa {
    width: auto;
    height: auto;
}

.CampoProcura {
    width: 570px;
    height: 15em;

    display: block;
    margin: auto;

    background-color: #ffffffcc;
    border-radius: 25px;
    border: none;
    margin-top: 1em;

    overflow-y: auto;
}

.CampoProcura::-webkit-scrollbar {
    display: none;
}

.CampoProcura ul {

    display: block;
    margin: auto;
    position: relative;
    padding: 1em 0 1em 2em;
    text-align: left;
    border: none;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 500;
    cursor: pointer;

    list-style-type: none;
}

#list_professores{
    display: flex; 
    flex-direction: column; 
    position: relative; 
    padding: 0.5em 2em;
}

#list_professores li{
    position: relative; 
    margin-bottom: 1em;

    display: flex; 
    flex-direction: row; 
    align-items: center;
    color: black;
    text-decoration: none; 
    margin: 0.5em 1em;
    text-shadow: none; 
    transition: all 0.3s ease 0s;
}

#list_professores img {
    width: 10%;
    height: 10%;
    border-radius: 5px;
    display: block;
    margin-right: 1em;
}

#list_professores a {
    color: black;
    text-decoration: black;
}

#list_professores li a:hover {
    color: #008940;
    text-shadow: 0 0 2px #008940;
    transition: all 0.3s ease;
}

#list_materias li{
    width: 100%;
    position: relative; 
    left:-1em; 
    margin-bottom: 1.5em
}

#list_materias li:hover {
    color: #008940;
    text-shadow: 0 0 2px #008940;
    transition: all 0.3s ease;
}

/* FIM DA JANELA */

/* JANELA MATERIA2 */

.janela_materia2 {
    width: 38em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    display: none;
    margin: auto;

    background-color: #E6F2FB;
    border-radius: 40px;
    border: none;
    margin-top: 4em;
    padding: 1em;
}

.CampoFalado2 {
    
    text-align: center;
    padding-top: 0.5em;
    margin-left: auto;

    margin-right: auto;

    font-size: 2em;
    color: black;
}

.CampoFalado3 {
    display: block;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    object-position: bottom;
    font-size: 1.5em;
    color: black;
    font-weight: 500;
}

#scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    width: auto;
    height: fit-content;
    max-height: 16em;
    margin-right: 10px;
    margin-bottom: 5px;
}

#scroll::-webkit-scrollbar {
    width: 15px;
    height: auto;
}

#scroll::-webkit-scrollbar-thumb {
    background-color: #E6F2FB;
    /* color of the scroll thumb */
    border-radius: 20px;
    border: solid 1px #0000002a;
    /* roundness of the scroll thumb */
}

#scroll::-webkit-scrollbar-track {
    background-color: #0000002a;
    border-radius: 25px;
}


.professor {
    display: block;

    position: relative;
    width: auto;
    height: auto;

    background-color: #ffffff1a;

    border-radius: 40px;
    box-shadow: 0 0 10px black;
    margin: 1em;
    padding: 1em;
    text-decoration: none;

    transition: all 0.3s ease-in-out;
}

#box {
    display: inline-block;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #008940;
    width: 5em;
    height: 5em;

}

.professor:hover {
    transform: scale(1.01);
}

#box img {
    display: block;

    width: 5em;
    height: 5em;

}

.professores {
    display: inline-block;
    position: relative;
    top: -1em;
    margin-left: 0.5em;
    font-size: 1.5em;
    font-weight: 400;
    color: black;
}

.semestre_btn {
    display: block;
    text-align: center;
    box-shadow: -1px 1px 1px rgb(30, 30, 30);
    border-radius: 5px;
    font-size: 2em;
    color: black;
}

/* FIM DA JANELA MATERIA2 */

@keyframes abrir_janelas {
    from {
        opacity: 0;
        transform: translate3d(0, -5px, -20px);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir {
    animation: abrir_janelas 0.3s;
    display: flex;
    flex-direction: column;
}


/* CABOUJANELA */

/*DISPOSIVO MOBILE  */

@media screen and (max-width: 767px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(135deg, #0C36A1, #008940);
        width: 100%;
    
        background-attachment: fixed;
        height: 100vh;
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    
    }
    
    ul {
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    
    html::-webkit-scrollbar {
        width: 15px;
        height: auto;
        display: none;
    }
    
    /* inicio das paginas */
    /*PAGINA1*/
    
    #nav {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        margin: 0 3em;
    
    }
    
    a#qmsomos , a#FAC {
        text-decoration: none;
        font-size: 0.75em;
        font-weight: bolder;
    
        color: black;
    
        position: relative;
        text-align: center;
    
    
        top: 2em;
    
        transition: all 0.3s ease;
    
        background-color: #E6F2FB;
        padding: 0.25em 1em;
        border-radius: 25px;
        border: solid 2px black;
        box-shadow: #0B4C8C -2px 2px 1px ;
    
        overflow: hidden;
    }
    
   #qmsomos:hover , #FAC:hover {
        transform: scale(1.05);
    }
    #qmsomos:active , #FAC:active {
        transform: scale(0.95);
    }
    
   #qmsomos:after , #FAC:after {
        background: #0B4C8C;
        content: "";
        height: 155px;
        left: -75px;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
      }

      #semestre:hover:after, #qmsomos:hover:after , #FAC:hover:after {
        left: 120%;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
      }
    
    
    .UnBookLogo {
        width: 388px;
        height: 155px;
    
    
        display: block;
        margin: auto;
        position: relative;
        top: 30%;
    
    }
    
    .fundo_branco {
    
        width: 100%;
        height: 500px;
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    
        /* background: var(--fundobranco, linear-gradient(0deg, rgba(255, 255, 255, 0.31) 0%, rgba(255, 255, 255, 0.31) 100%), linear-gradient(230deg, rgba(0, 0, 0, 0.00) 22.37%, rgba(0, 194, 255, 0.11) 62.11%), linear-gradient(125deg, rgba(179, 40, 244, 0.03) 61.39%, rgba(255, 0, 199, 0.12) 79.2%), #F8F8F8); */
        background-color: #f5f5f5;
        z-index: -1;
        margin-top: -1em;
    }
    
    
    .unbloguinho {
        position: absolute;
        max-width: 12%;
        max-height: 12%;
    
        width: auto;
        height: auto;
    
        top: 10px;
        right: 10px;
        display: block;
    }
    
    a#botao_arrasta {
        
        display: block;
        position: relative;
        text-align: center;
        
        width: 10em;
        
        top: -50px;
        margin: auto;
    
        color: whitesmoke;
        font-size: 1.5em;
        font-weight: bolder;
        text-shadow: 0 1.5px black;
        text-decoration: none;
    
        background-color: #133E79;
        border-radius: 25px;
        padding: 0.25em 0em;
    
        cursor: pointer;
        transition: all 0.3s ease;
        
        /* border: solid 2px rgb(255, 255, 255); */
        box-shadow: #01203f -2px 2px 1px ;
        overflow: hidden;
    }
    
    a#botao_arrasta:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
      }
      
    a#botao_arrasta:hover:after {
        left: 120%;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
      }
    
    a#botao_arrasta:hover {
        transform: scale(1.05);
        box-shadow: 0 0 50px #0B4C8C;
    }
    
    a#botao_arrasta:active {
        transform: scale(1);
    }
    
    .page2 {
        background-color: transparent;
        height: 27vh;
    }
    
    /*PAGINA3*/
    
    #search {
        background-color: transparent;
        height: 95vh;
    }
    
    .UnBook_logo_mini{
        display: inline;
        
        width:12.5em;
        height: auto;
    
        position: relative;
    
        margin-left: 10px;
        margin-bottom: 1em;
    }
    

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em 0 0; 
}

.Login_icon {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
}

.authentic {
    font-size: 1em;
    display: block;
    position: relative;
    font-weight: 900;
    margin: auto;
    text-align: center;
    color: #0B4C8C;
    text-decoration: none;

    top: -0.25rem;
    transition: all 0.3s ease;
}

.Login_icon a:hover {
    transform: translateY(2px);
    text-shadow: 0 0 50px #0B4C8C;
    color: #E6F2FB;
}

#user {
    background-color: #0B4C9C;
    width: 3em;
    height: 3em;
    margin: auto;
    display: block;

    border-radius: 50%;

}

.user {
    width: 100%;
    height: 100%;

    display: block;
    border-radius: 50%;

}
    
    #perguntas {
        position: relative;
        top: 8em;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .pergunta {
        color: white;
        font-size: 1.25em;
    }
    
    .botoes {
        display: block;
        position: relative;
        text-align: center;
        
        width: 10em;
        
        top: 0.5em;
        margin: auto;
        margin-top: 0.5em;

    
        color: whitesmoke;
        font-size: 1.5em;
        font-weight: bolder;
        text-shadow: 0 1.5px black;
        text-decoration: none;
    
        background-color: #133E79;
        border-radius: 25px;
        padding: 0.25em 0em;
    
        cursor: pointer;
        transition: all 0.3s ease;
        
        /* border: solid 2px rgb(255, 255, 255); */
        box-shadow: #01203f -2px 2px 1px ;
        overflow: hidden;

    }
    
    .botoes:hover {
        justify-content: center;
        transform: scale(1.05);
        box-shadow: 0 0 50px #0B4C8C;
    }
    
    .botoes:active {
        transform: scale(1);
    }
    
    .botoes:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -30em;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: ease-in 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
      }
      
    .botoes:hover:after {
        left: 120%;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
      }
    
    .botoes:hover {
        transform: scale(1.05);
        box-shadow: 0 0 50px #0B4C8C;
    }
    
    
    
    
    
    
    /*JANELA*/
    
    .CampoFalado {
        margin-bottom: 0.5em;
        font-size: 1.25em;
        text-align: center;
        color: #E6F2FB;
    }
    
    .barra_pesquisa {
        width: 90%;
        height: auto;
        display: block;
        
        margin: auto;
    
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50px;
        font-size: 1.25em;
        padding: 0.5em 0 0.5em 1em;
        text-align: left;
        font-weight: 200;
        border: none;
    }
    
    .janela_pesquisa {
        margin-top: 5em;
    
        display: none;
        flex-direction: column;
    }
    
    div.janela_pesquisa {
        width: auto;
        height: auto;
    }
    
    .CampoProcura {
        width: 90%;
        height: 10em;
    
        display: block;
        margin: auto;
    
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
        border: none;
        margin-top: 1em;
    
        overflow-y: auto;
    }
    
    .CampoProcura::-webkit-scrollbar {
        display: none;
    }
    
    .CampoProcura ul {
    
        display: block;
        margin: auto;
        position: relative;
        padding: 0.5em 1em;
        text-align: left;
        border: none;
        text-decoration: none;
        font-size: 1.25em;
        font-weight: 500;
        cursor: pointer;
    
        list-style-type: none;
    }


    #list_professores{
        display: flex; 
        flex-direction: column; 
        position: relative; 
        padding: 0.5em 1em;
    }
    
    #list_professores li{
        position: relative; 
        margin-bottom: 1em;
    
        display: flex; 
        flex-direction: row; 
        align-items: center;
        color: black;
        text-decoration: none; 
        margin: 0.5em 1em;
        text-shadow: none; 
        transition: all 0.3s ease 0s;
    }
    
    #list_professores img {
        width: 15%;
        height: 15%;
        border-radius: 5px;
        display: block;
        margin-right: 1em;
    }
    
    #list_professores a {
        font-size: 0.8em;
        color: black;
        text-decoration: black;
    }
    
    #list_professores li a:hover {
        color: #008940;
        text-shadow: 0 0 2px #008940;
        transition: all 0.3s ease;
    }
    

    #list_materias li{
        font-weight: 500;
        list-style-type: none;
        padding: 0;
        width: 100%;
        left: -1em;
        font-size: 0.8em;
        position: relative;
        margin: auto auto 0.5em;
        text-align: left;
    }

    #list_materias li a {
        font-weight: 500;
        list-style-type: none;
        text-align: left;
        color: black;
        text-decoration: none;
        text-shadow: none;
        transition: all 0.3s ease 0s;
        font-size: 0.75em;
        position: relative;
        left: 1em;
    }


    #list_materias li:hover {
        color: #008940;
        text-shadow: 0 0 2px #008940;
        transition: all 0.3s ease;
    }
    /* FIM DA JANELA */
    
    /* JANELA MATERIA2 */
    
    .janela_materia2 {
        width: 90%;
        height: 100%;
        display: block;
    
        display: none;
        margin: auto;
    
        background-color: #E6F2FB;
        border-radius: 50px;
        border: none;
        margin-top: 4em;
    }
    
    .CampoFalado2 {
        display: block;
        text-align: center;
        padding: 0.25em 1em 0 1em;
        margin: auto;
    
        font-size: 1.5em;
        color: black;
    }
    
    .CampoFalado3 {
        display: block;
        text-align: center;
    
        margin-left: auto;
        margin-right: auto;
        object-position: bottom;
        font-size: 1em;
        color: black;
        font-weight: 500;
    }
    
    #scroll {
        overflow-y: auto;
        width: auto;
        height: auto;
        margin-right: 10px;
    }
    
    #scroll::-webkit-scrollbar {
        width: 15px;
        height: auto;
    
    }
    
    #scroll::-webkit-scrollbar-thumb {
        background-color: #E6F2FB;
        /* color of the scroll thumb */
        border-radius: 20px;
        border: solid 1px #0000002a;
        /* roundness of the scroll thumb */
    }
    
    #scroll::-webkit-scrollbar-track {
        background-color: #0000002a;
        border-radius: 25px;
    }
    
    
    .professor {
        display: block;
    
        position: relative;
        width: auto;
        height: auto;
    
        background-color: rgba(255, 255, 255, 0.1);
    
        border-radius: 25px;
        box-shadow: 0 0 10px black;
        margin: 1em;
        padding: 1em 1em;
        text-decoration: none;
    
        transition: all 0.3s ease-in-out;
    }
    
    #box {
        display: inline-block;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background-color: #008940;
        width: 3em;
        height: 3em;
    
    }
    
    .professor:hover {
        transform: scale(1.01);
    }
    
    #box img {
        display: block;
    
        width: 2em;
        height: 2em;
    
    }
    
    .professores {
        display: inline-block;
        position: relative;
        top: -2em;
        margin-left: 0.5em;
        font-size: 0.25em;
        font-weight: 400;
        color: black;
    }
    
    .CampoFalado4 {
        display: block;
        text-align: center;
        top: 90%;
    
        font-size: 1.5em;
        color: black;
    }
    
    /* FIM DA JANELA MATERIA2 */
    
    @keyframes abrir_janelas {
        from {
            opacity: 0;
            transform: translate3d(0, -5px, -20px);
        }
    
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    
    .abrir {
        animation: abrir_janelas 0.3s;
        display: flex;
        flex-direction: column;
    }
    
    
    /* CABOUJANELA */
    
    /*DISPOSIVO MOBILE  */






}