* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #0c36a1, #008940);
  width: 100%;
  background-attachment: fixed;

  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

ul {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* inicio das paginas */
/*PAGINA1*/

#modal_certeza {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  padding: 2em;
  width: 30%;
  height: fit-content;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: -5px 5px 1px #737373;
  z-index: 3;
}

#title_c {
  margin: 0 1em;
  font-size: 1.5em;
}

#dog {
  margin: 1em auto;
  width: 200px;
  height: 200px;
}

#espace_buttons {
  margin: auto;
  align-items: center;

  width: 70%;
  height: 5em;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;


  background-color: #0000002a;
  border: 1px solid gray;
}

a.button_c {
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

a.button_c:hover {
  transform: scale(1.05);
}
a.button_c:active {
  transform: scale(0.95);
}

#nao_c {
  background-color: #ea3939;
  box-shadow: -2px 2px 2px #c43131;
}
#sim_c {
  background-color: #49da57;
  box-shadow: -2px 2px 2px #308e39;
}

a .UnBook_logo_mini {
  display: block;

  width: 25em;
  height: auto;

  position: relative;

  margin-left: 10px;
  top: 20px;
}

#boxes {
  background-color: #f5f5f5c8;
  box-shadow: -5px 5px 1px #5b5b5bc8;
  border-radius: 50px;
  border-top-left-radius: 0;
  width: 85em;
  height: 35em;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  position: relative;
}

#box1 {
  background-color: #f5f5f5;
  width: 30em;
  height: auto;
  border-radius: 50px;
  border-top-left-radius: 0;
  display: flex;
  margin: 1em;
  display: flex;
  flex-direction: column;

  z-index: 2;
}

#voltar {
  background-color: #f5f5f5;
  box-shadow: -2px 2px 1px #5b5b5bc8;
  border-radius: 5px;
  border: solid 2px #5b5b5bc8;
  z-index: 6;
  width: fit-content;
  padding: 0 0.5em;

  position: absolute;
  margin-left: 10px;
  margin-top: 10px;

  transition: all 0.3s ease;

  color: #d43b5a;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
}

#voltar:hover {
  transform: scale(1.025);
  background-color: #d43b5a;
  color: whitesmoke;
}
#voltar:active {
  transform: scale(0.95);
}

#espace_img_user {
  width: 100%;
  height: 15em;
}

#img_user {
  margin: auto;
  position: relative;
  width: 13em;
  height: 13em;
  top: 1.5em;
  border-radius: 100%;
  overflow: hidden; /* Ensure the image is clipped to the container's border radius */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#img_img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
  border-radius: 100%; /* Make sure the image itself is rounded */
}

#edit {
  display: none;
  position: absolute;
  font-size: 4em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#modal_imgs {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 0.5em;
  left: 2em;
  max-width: 80em;
  height: 32em;
  z-index: 20;
  background-color: whitesmoke;
  box-shadow: -10px 10px 1px #5b5b5bc8;
  border-radius: 50px;
  transition: all 0.3s ease;
  animation: aparecer_modal_img 0.3s ease-in;
  overflow-x: auto;
  padding: 0.5em;
  margin: auto;
}

.imgs_modal {
  margin: auto; 
  display: flex;
  flex-direction: row;
}

@keyframes aparecer_modal_img {
  0% {
    width: 0em;
  }

  100% {
    width: 80em;
  }
}

@keyframes aparecer_modal_imgs {
  0%,
  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

.balls {
  position: relative;
  display: block;
  width: 13em;
  height: 13em;
  margin: 0.5em 1em;

  text-align: center;
  align-items: center;
  background-color: #eed64b;
  border-radius: 100%;
  animation: aparecer_modal_imgs 0.9s ease-in;
}

.balls:hover {
  filter: brightness(70%);
  border: solid 5px #0b4c9c;
}

.balls#model_1 {
  margin-left: 3em;
}

#CampoEscrito_box1 {
  position: relative;
  width: 100%;
  height: 6.5em;
  top: 0.5em;
}

.lampinha {
  position: absolute;
  color: #eed64b;
  cursor: pointer;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  right: 2.75em;
  top: 0.05em;
  z-index: 3;

  width: 2em;
  height: 2em;
  text-align: center;
}

#visib_modal {
  display: none;
  position: absolute;
  left: 17em;
  top: -1em;

  width: 14em;
  height: auto;
  padding: 0.5em;
  border-radius: 15px;
  background-color: #d9d9d9f6;
  z-index: 4;
}

#visib_modal h4 {
  font-size: 1em;
}

#user_box1 {
  color: #0b4c9c;
  margin: auto;
  text-align: center;
}

#scroll {
  margin-top: 1em;
  width: auto;
  height: 23%;

  text-align: center;
  padding: 0.75em 2em;

  overflow-y: auto;
}

#scroll::-webkit-scrollbar {
  width: 15px;
  height: auto;
  margin-right: 10px;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #e6f2fb;
  /* color of the scroll thumb */
  border-radius: 20px;
  border: solid 1px #0000002a;
  /* roundness of the scroll thumb */
}

#scroll::-webkit-scrollbar-track {
  background-color: #0000002a;
  border-radius: 25px;
}

.pages {
  margin-top: 0.5em;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pages:hover {
  transform: scale(1.025);
}

@keyframes aparece {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }
}

.boxs {
  animation: aparece 1s;
}

.forms {
  width: 20em;
  height: 2em;

  font-size: 1em;
  margin-top: 0.25em;
  margin-bottom: 1em;
  padding: 0.5em 20px;

  background-color: #d9d9d9;
  border: none;
}

#Profile {
  background-color: #f5f5f5;
  width: 60em;
  height: 33em;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  margin: 1em;
  margin-left: 0em;

  z-index: 2;
}

#espace_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.CampoEscrito_profile {
  font-size: 2em;
  padding: 40px 5px 5px 40px;
}

.CampoEscrito2_box1 {
  font-size: 1.5em;
  margin: auto;
  text-align: center;
}

#user {
  position: relative;
  font-size: 1.35em;
  color: #0b4c9c;
  transition: all 0.3s ease;
  cursor: pointer;
}

#user:hover {
  text-shadow: 0 0 2px #0b4c8c;
}

.botoes#Logout:hover , .botoes#Deletar:hover {
  background-color: #d43b5a;
}

.botoes#atualizar:hover {
  background-color: #008940;
}

.botoes {
  position: relative;
  width: auto;
  height: 2em;

  border: none;
  border-radius: 50px;
  background-color: #0b4c8c;

  margin-top: 30px;
  margin-right: 1em;

  color: white;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
}

.botoes:hover {
  transform: scale(1.05);
}
.botoes:active {
  transform: scale(1);
}

.botoes#Logout {
  font-weight: 700;
}

#space_2_Profile {
  padding: 1em 3em 1em 3em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

.CampoFalado_Profile {
  position: relative;
  font-size: 1.5em;
  font-weight: 500;
  color: black;
}

.respostas {
  position: relative;
  font-size: 1.5em;
  font-weight: 700;
  color: #0b4c8c;
}

.respostas2 {
  position: relative;
  font-size: 1.5em;
  font-weight: 700;
  color: #0b4c8c;
}

#space_2_1_Profile {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em 2em;
}

#space_2_2_Profile {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 10em;
  padding: 1.5em 2em;
}

#space_2_3_Profile {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding: 1.5em 2em;
}

.abrir {
  animation: abrir_janelas 0.3s;
}

@keyframes abrir_janelas {
  from {
    opacity: 0;
    transform: translate3d(0, -5px, -20px);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#separa_confs {
  display: flex;
  flex-direction: row;
}

#Config {
  background-color: #f5f5f5;
  width: 60em;
  height: 33em;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(255, 255, 255);

  display: none;
  flex-direction: column;
  margin: 1em;
  margin-left: 0em;

  z-index: 2;
}

#space_1_config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 7em;
}

.CampoEscrito_Config {
  position: relative;
  font-size: 3em;
  padding: 40px 5px 5px 40px;
}

.CampoFalado_Config {
  position: relative;
  margin-top: 0.5em;
  font-size: 1.5em;
  color: black;
}

#space_2_1_Config {
  display: flex;
  flex-direction: column;
  padding: 0.5em 2em;
  width: fit-content;
  height: 26em;
}

#space_2_2_Config {
  display: flex;
  flex-direction: column;
  padding: 0.5em 2em;
  width: fit-content;
  height: 26em;
}

#submit1,
#submit2 {
  position: relative;

  width: auto;
  height: 2em;

  border: none;
  border-radius: 20px;
  background-color: #0b4c9c;

  color: white;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;

  transition: all 0.3s ease;
}

#submit:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #0b4c8c;
}

#submit:active {
  transform: scale(0.9);
}

#Estatistica {
  background-color: #f5f5f5;
  width: 60em;
  height: 33em;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(255, 255, 255);

  display: none;
  flex-direction: column;
  margin: 1em;
  margin-left: 0em;

  z-index: 2;
}

#box_desenv {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

#Desenv {
  position: relative;
  top: 5em;
  animation: desenv 2s infinite ease;
  width: 12em;
  height: 2em;
}

@keyframes desenv {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(-100px);
  }
}

/* modal de perfil */

#fundo_blur {
  width: 100%;
  height: 150vh;
  position: fixed;

  display: none;
  background-color: hsla(0, 0%, 0%, 0.8);
  backdrop-filter: blur(50px);
  z-index: 3;
}

.CampoFalado1_modal {
  color: black;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

.CampoFalado2_modal {
  color: black;
  text-align: center;

  position: relative;
  font-size: 2.5em;
  font-weight: 700;
}

.CampoFalado3_modal {
  color: #50545c;
  text-align: center;
  position: relative;

  margin: 0 6em;
  font-size: 1.5em;
  font-weight: 700;
}

#button_box {
  margin: auto;
  align-items: center;

  width: 20em;
  height: 6em;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 5em;

  background-color: #0000002a;
  border: 1px solid gray;
}

.button {
  width: 7em;
  height: 2em;
  padding: 0.5em 0.5em;
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 1em;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.not_selected {
  opacity: 0.25;
}

#modal_atualizacao {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 2em;
  width: 50em;
  height: 30em;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  z-index: 4;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scroll_modal {
  display: block;
  position: relative;
  padding: 0.5em 0em;
  width: 100%;
  height: 81%;
  background-color: #d9d9d9;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  border-radius: 15px;
  overflow: hidden;
}

#boxes_modal {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  width: 184em;
  height: 24em;
}

.boxes_modal {
  display: flex;
  flex-direction: column;

  position: relative;
  padding: 0.5em;

  width: 42em;
  height: 22em;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  z-index: 3;

  margin: 0em 2em;
}

#box_modal_1 .espaco_buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 1em;
  left: -0.05em;
  width: 100%;
  height: 4em;
  text-align: center;
}

#input_cursos {
  width: 80%;
  height: auto;
  padding: 0.5em 1em;
  background-color: #d9d9d9;
  border-radius: 15px;
  font-size: 1.25em;
}

#cursos {
  width: 80%;
  height: 4.75em;
  margin: auto;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  background-color: #d9d9d9;
  border-radius: 15px;
  font-size: 1.25em;
  overflow-y: auto;
}

#box_modal_2 .espaco_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1em;
  left: -0.05em;
  width: 100%;
  height: 4em;
  text-align: center;
}

#CampoFalado_menu {
  font-size: 1.75em;
  text-align: center;
  width: 100%;
  font-weight: 500;
  color: #50545c;
}

#icon_menu {
  font-size: 20px;
  color: #0b4c8c;
  transition: 0.3s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 6px;
  position: absolute;
  text-align: center;

  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  width: 100%;
  height: 8em;
  translate: 0 -12px;
  overflow-y: auto;
}

.menu.open {
  visibility: visible;
  opacity: 1;
  translate: 0 12px;
  z-index: 4;
}

#drop {
  max-width: 15em;
  width: 100%;
  display: block;
  margin: 2em auto;
  position: relative;
  border: 1px solid #50545c;
  border-radius: 15px;
}

.drop_button {
  width: 100%;
  padding: 0.5em 1em;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.menu_item {
  width: 100%;
  padding: 0.5em 1em;
  cursor: pointer;
  position: relative;
  align-items: center;

  background-color: #d9d9d9;
}

.drop_button.open > i {
  rotate: 180deg;
}

:is(.menu_item):first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

:is(.menu_item):last-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

:is(.menu_item):hover {
  background-color: #0b4c8c;
  color: whitesmoke;
}

#box_modal_3 .espaco_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1em;
  left: -0.05em;
  width: 100%;
  height: 4em;
  text-align: center;
}

#bio {
  margin: auto;
  width: 80%;
  height: auto;
  background-color: #d9d9d9;
  border-radius: 15px;
  align-items: normal;
  padding: 0.5em;
  font-size: 1em;
}

.prox_button,
.back_button {
  display: inline-block;
  font-size: 1.5em;
  background-color: #0b4c8c;
  border-radius: 15px;
  color: whitesmoke;
  width: 7em;
  height: 2em;
  text-align: center;
  z-index: 10;
  padding: 0.5em 1em;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 1em;
  /* Espaçamento entre os botões */
}

.prox_button:hover,
.back_button:hover {
  transform: scale(1.05);
}

.prox_button:active,
.back_button:active {
  transform: scale(0.95);
}

#box_modal_4 .espaco_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1em;
  left: -0.05em;
  width: 100%;
  height: 4em;
  text-align: center;
}

#privs_button {
  width: 100%;
  padding: 1em;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.perfil_visivel {
  width: 7em;
  height: 2em;
  padding: 0.5em 0.5em;
  color: black;
  background-color: whitesmoke;
  border: solid 1px black;
  box-shadow: -1px 1px 2px #d9d9d9;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 1em;
}

.perfil_visivel:hover {
  transform: scale(1.05);
  border: solid 2px #008940;
  color: whitesmoke;
  background-color: #008940;
}

@media screen and (max-width: 767px) {
  html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #0c36a1, #008940);
    width: 100%;
    background-attachment: fixed;
  
    height: 100vh;
    scroll-behavior: smooth;
  }

  a .UnBook_logo_mini {
    display: block;

    width: 12.5em;
    height: auto;

    position: relative;

    margin-left: 10px;
    margin-bottom: 2em;
    top: 20px;
  }

  #boxes {
    background-color: #f5f5f5c8;
    box-shadow: -2px 2px 1px #5b5b5bc8;
    border-radius: 51px;
    border-top-left-radius: 0;
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0.5em;
  }

  #box1 {
    background-color: #f5f5f5;
    width: 97.5%;
    height: 30em;
    margin: auto;
    border-radius: 50px;
    border-top-left-radius: 0;
    display: flex;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    z-index: 2;
  }

  #espace_img_user {
    width: 100%;
    height: 15em;
  }

  #img_user {
    margin: auto;
    position: relative;
    width: 13em;
    height: 13em;
    top: 1.5em;
    background-color: #04b858;
    border-radius: 100%;
  }

  #modal_imgs {
    position: absolute;
    display: none;
    flex-direction: row;
    top: 0.5em;
    width: 90%;
    max-height: 40em;
    overflow-y: auto;
    margin: 0 auto;
    z-index: 20;
    background-color: whitesmoke;
    box-shadow: -10px 10px 1px #5b5b5bc8;
    border-radius: 75px;
    transition: all 0.3s ease;
    animation: aparecer_modal_img2 0.3s ease-in;
    padding: 0.5em;
  }

  .imgs_modal {
    margin: auto; 
    display: flex;
    flex-direction: column;
  }

  @keyframes aparecer_modal_img2 {
    0% {
      height: 0em;
    }

    100% {
      height: 80em;
    }
  }

  @keyframes aparecer_modal_imgs {
    0%,
    40% {
      opacity: 0;
    }

    60% {
      opacity: 1;
    }
  }

  #visib_modal {
    display: none;
    position: absolute;
    right: 20em;
    top: -1em;
  
    width: 14em;
    height: auto;
    padding: 0.5em;
    border-radius: 15px;
    background-color: #d9d9d9f6;
    z-index: 4;
  }
  
  #visib_modal h4 {
    font-size: 1em;
  }

  .balls {
    position: relative;
    display: block;
    width: 6.5em;
    height: 6.5em;
    margin: 0.5em 1em;

    text-align: center;
    align-items: center;
    background-color: #eed64b;
    border-radius: 100%;
    animation: aparecer_modal_imgs 0.9s ease-in;
  }

  .balls:hover {
    filter: brightness(70%);
  }

  .balls#model_1 {
    margin-left: 3em;
  }

  #model_1 {
    background-color: #0b4c8c;
  }

  #model_2 {
    background-color: #a670da;
  }

  #model_3 {
    background-color: #04b858;
  }

  #model_4 {
    background-color: #eed64b;
  }

  #model_5 {
    background-color: #d43b5a;
  }

  #CampoEscrito_box1 {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0.5em;
    top: 0.5em;
  }

  #user_box1 {
    color: #0b4c9c;
    margin: auto;
    text-align: center;
  }

  #scroll {
    margin-top: 1em;
    width: auto;
    height: 23%;

    text-align: center;
    padding: 0.75em 2em;

    overflow-y: auto;
  }

  #scroll::-webkit-scrollbar {
    width: 15px;
    height: auto;
    margin-right: 10px;
  }

  #scroll::-webkit-scrollbar-thumb {
    background-color: #e6f2fb;
    /* color of the scroll thumb */
    border-radius: 20px;
    border: solid 1px #0000002a;
    /* roundness of the scroll thumb */
  }

  #scroll::-webkit-scrollbar-track {
    background-color: #0000002a;
    border-radius: 25px;
  }

  .pages {
    margin-top: 0.5em;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 25px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .pages:hover {
    transform: scale(1.025);
  }

  @keyframes aparece {
    0% {
      opacity: 0;
    }

    80% {
      opacity: 1;
    }
  }

  .boxs {
    animation: aparece 1s;
  }

  .forms {
    width: 15em;
    height: 2em;

    font-size: 1em;
    margin-top: 0.25em;
    margin-bottom: 1em;
    padding: 0.5em 20px;

    background-color: #d9d9d9;
    border: none;
  }

  #Profile {
    background-color: #f5f5f5;
    width: 97.5%;
    height: 45em;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(255, 255, 255);

    display: flex;
    flex-direction: column;

    z-index: 2;
  }

  #espace_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
  }

  .CampoEscrito_profile {
    font-size: 2em;
    padding: 40px 5px 5px 40px;
  }

  .CampoEscrito2_box1 {
    font-size: 1.5em;
    margin: auto;
    text-align: center;
  }

  #user {
    position: relative;
    font-size: 0.75em;
    color: #0b4c9c;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  #user:hover {
    text-shadow: 0 0 2px #0b4c8c;
  }

  .botoes {
    position: relative;
    width: auto;
    height: 3em;

    border: none;
    border-radius: 50px;
    background-color: #0b4c8c;

    margin-top: 10em;
    margin-right: auto;

    color: rgb(255, 255, 255);
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;

    transition: all 0.3s ease;
  }

  .botoes:hover {
    transform: scale(1.05);
  }
  .botoes:active {
    transform: scale(1);
  }

  #space_2_Profile {
    padding: 1em 3em 1em 3em;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
  }

  .CampoFalado_Profile {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    color: black;
  }

  #descricao {
    width: 30em;
    height: 10em;
    padding: 0.5em 20px;
    font-size: 1em;
    font-weight: 500;
    background-color: #d9d9d9;
    border: none;
  }

  .respostas {
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    color: #0b4c8c;
  }

  .respostas2 {
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    color: #0b4c8c;
  }

  #space_2_1_Profile {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em 2em;
  }

  #space_2_2_Profile {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 0em;
    padding: 1.5em 2em;
  }

  #space_2_3_Profile {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: fit-content;
    height: auto;
    bottom: 1em;
    padding: 1.5em 2em;
    margin-left: 0em;
    justify-content: space-between;
  }
  .botoes#atualizar {
    height: fit-content;
    position: relative;
    margin: auto;
    font-size: 1.3em;
    bottom: 0.5em;
  }
  .botoes#Logout {
    margin: auto;
    width: 11em;
    height: auto;
    font-weight: 700;
    position: relative;
  }

  .abrir {
    animation: abrir_janelas 0.3s;
  }

  @keyframes abrir_janelas {
    from {
      opacity: 0;
      transform: translate3d(0, -5px, -20px);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  #Senha {
    background-color: #f5f5f5;
    width: 97.5%;
    height: 33em;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(255, 255, 255);

    display: none;
    flex-direction: column;
    margin: 1em;
    margin-left: 0em;

    z-index: 2;
  }

  #space_1_Senha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 7em;
  }

  .CampoEscrito_Senha {
    position: relative;
    font-size: 3em;
    padding: 40px 5px 5px 40px;
  }

  .CampoFalado_Senha {
    position: relative;
    margin-top: 0.5em;
    font-size: 1.25em;
    color: black;
  }

  #space_2_Senha {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    width: 100%;
    height: 80%;
  }

  #submit {
    position: absolute;
    width: 10em;
    height: 2em;

    border: none;
    border-radius: 20px;
    background-color: #0b4c9c;

    bottom: 2em;
    right: 3em;

    color: white;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;

    transition: all 0.3s ease;
  }

  #submit:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #0b4c8c;
  }

  #submit:active {
    transform: scale(0.9);
  }

  #Estatistica {
    background-color: #f5f5f5;
    width: 97.5%;
    height: 33em;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(255, 255, 255);

    display: none;
    flex-direction: column;
    margin: 1em;
    margin-left: 0em;

    z-index: 2;
  }

  #box_desenv {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  #Desenv {
    position: relative;
    top: 5em;
    animation: desenv 2s infinite ease;
    width: 12em;
    height: 2em;
  }

  @keyframes desenv {
    0% {
      transform: translateX(100px);
    }

    100% {
      transform: translateX(-100px);
    }
  }

  /* modal de perfil */

  #fundo_blur {
    width: 100%;
    height: 150vh;
    position: fixed;

    display: none;
    background-color: hsla(0, 0%, 0%, 0.8);
    backdrop-filter: blur(50px);
    z-index: 3;
  }

  .CampoFalado1_modal {
    color: black;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  .CampoFalado2_modal {
    color: black;
    text-align: center;

    position: relative;
    font-size: 1.5em;
    font-weight: 700;
  }

  .CampoFalado3_modal {
    color: #50545c;
    text-align: center;
    position: relative;

    margin: 0 2em;
    font-size: 1em;
    font-weight: 700;
  }

  #button_box {
    margin: auto;
    align-items: center;

    width: 20em;
    height: 6em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 5em;

    background-color: #0000002a;
    border: 1px solid gray;
  }

  .button {
    width: 7em;
    height: 2em;
    padding: 0.5em 0.5em;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 1em;
  }

  .button:hover {
    transform: scale(1.05);
  }

  .button:active {
    transform: scale(0.95);
  }

  #modal_atualizacao {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 0.75em;
    width: 23em;
    height: 30em;
    background-color: #f5f5f5;
    border-radius: 25px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    z-index: 4;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #scroll_modal {
    display: block;
    position: relative;
    padding: 0.5em 0em;
    width: 100%;
    height: 81%;
    background-color: #d9d9d9;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
  }

  #boxes_modal {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    width: 190em;
    height: 24em;
    margin-left: -13em;
  }

  .boxes_modal {
    display: flex;
    flex-direction: column;

    position: relative;
    padding: 0.5em;

    width: 20em;
    height: 22em;
    background-color: #f5f5f5;
    border-radius: 25px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    z-index: 3;

    margin: 0em 2em;
  }

  #box_modal_1 .espaco_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 1em;
    left: -0.05em;
    width: 100%;
    height: 4em;
    text-align: center;
  }

  #input_cursos {
    width: 90%;
    height: auto;
    padding: 0.5em 1em;
    background-color: #d9d9d9;
    border-radius: 15px;
    font-size: 1em;
  }

  #cursos {
    width: 90%;
    height: 4.5em;
    margin: auto;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    background-color: #d9d9d9;
    border-radius: 15px;
    font-size: 1em;
    overflow-y: auto;
  }

  #box_modal_2 .espaco_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 1em;
    left: -0.05em;
    width: 100%;
    height: 4em;
    text-align: center;
  }

  #CampoFalado_menu {
    font-size: 1.25em;
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: #50545c;
  }

  #icon_menu {
    font-size: 20px;
    color: #0b4c8c;
    transition: 0.3s ease;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    border-radius: 6px;
    position: absolute;
    text-align: center;

    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    width: 100%;
    height: 8em;
    translate: 0 -12px;
    overflow-y: auto;
  }

  .menu.open {
    visibility: visible;
    opacity: 1;
    translate: 0 12px;
    z-index: 4;
  }

  #drop {
    max-width: 15em;
    width: 100%;
    display: block;
    margin: 1em auto;
    position: relative;
    border: 1px solid #50545c;
    border-radius: 15px;
  }

  .drop_button {
    width: 100%;
    padding: 0.5em 1em;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
  }

  .menu_item {
    width: 100%;
    padding: 0.5em 1em;
    cursor: pointer;
    position: relative;
    align-items: center;

    background-color: #d9d9d9;
  }

  .drop_button.open > i {
    rotate: 180deg;
  }

  :is(.menu_item):first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  :is(.menu_item):last-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  :is(.menu_item):hover {
    background-color: #0b4c8c;
    color: whitesmoke;
  }

  #box_modal_3 .espaco_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 1em;
    left: -0.05em;
    width: 100%;
    height: 4em;
    text-align: center;
  }

  #bio {
    margin: auto;
    width: 80%;
    height: auto;
    background-color: #d9d9d9;
    border-radius: 15px;
    align-items: normal;
    padding: 0.5em;
    font-size: 1em;
  }

  .prox_button,
  .back_button {
    display: inline-block;
    font-size: 1em;
    background-color: #0b4c8c;
    border-radius: 15px;
    color: whitesmoke;
    width: 6em;
    height: 2em;
    text-align: center;
    z-index: 10;
    padding: 0.5em 1em;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 1em;
    /* Espaçamento entre os botões */
  }

  .prox_button:hover,
  .back_button:hover {
    transform: scale(1.05);
  }

  .prox_button:active,
  .back_button:active {
    transform: scale(0.95);
  }
  
  #box_modal_4 .espaco_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1em;
  left: -0.05em;
  width: 100%;
  height: 4em;
  text-align: center;
}

#privs_button {
  width: fit-content;
  padding: 1em;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 1em auto;
  flex-wrap: wrap;
}

#public {
  margin-top: 10px;
}


#separa_confs {
  display: flex;
  flex-direction: column;
}

#Config {
  background-color: #f5f5f5;
  width: 97.5%;
  height: 45em;
  margin: auto;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(255, 255, 255);

  display: none;
  flex-direction: column;

  z-index: 2;
}

#space_1_config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 7em;
}

.CampoEscrito_Config {
  position: relative;
  font-size: 2em;
  padding: 40px 5px 5px 40px;
}

.CampoFalado_Config {
  position: relative;
  margin-top: 0.5em;
  font-size: 1.25em;
  color: black;
}

#space_2_1_Config {
  display: flex;
  flex-direction: column;
  padding: 0.5em 2em;
  width: fit-content;
  height: fit-content;
  margin-bottom: 1em;
}

#space_2_2_Config {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1.5em;
  width: fit-content;
  height: 26em;
}

#submit1,
#submit2 {
  position: relative;
  
  width: auto;
  height: 2em;
  
  border: none;
  border-radius: 20px;
  background-color: #0b4c9c;

  color: white;
  font-size: 1.25em;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  
  transition: all 0.3s ease;
}

#submit:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #0b4c8c;
}

#submit:active {
  transform: scale(0.9);
}

.alterar{
  font-size: 1.5em;
}
}