* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #0c36a1, #008940);
  width: 100%;

  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

ul {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* inicio das paginas */
/*PAGINA1*/

.UnBook_logo_mini {
  display: inline;

  width: 25em;
  height: auto;

  position: relative;

  margin-left: 10px;
  top: 20px;
}

.box {
  background-color: whitesmoke;
  width: 40em;
  height: 33em;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(255, 255, 255);

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
}

.login {
  font-size: 3em;
  padding: 40px 5px 5px 40px;
}

.campoFalado1 {
  font-size: 1em;
  padding-top: 20px;

  margin: 0 6em;
  display: block;
  text-align: center;
}

.campoFalado2 {
  font-size: 20px;
  padding-top: 15px;
  padding: 20px 5px 5px 40px;
}

.campoEscrito {
  font-size: 20px;
  border: none;
  padding-left: 20px;

  width: 550px;
  height: 2em;
  background-color: #d9d9d9;

  text-align: left;
  justify-content: center;
  display: block;

  margin-left: auto;
  margin-right: auto;
}

.spanEmail {
  color: #ff0000;
  display: none;
  margin-top: 0.5em;
  margin-left: 3em;
}

.botao_enviar {
  display: block;
  width: 25rem;
  height: auto;

  border: none;
  border-radius: 20px;
  background-color: #0b4c9c;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  color: white;
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;

  transition: all 0.3s ease;
}

.botao_enviar:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #0b4c8c;
}

.botao_enviar:active {
  transform: scale(0.9);
}

.cadastro {
  display: grid;
  text-align: center;
  margin-top: 1rem;
  color: #0c36a1;

  width: auto;
  height: auto;
}

.senha {
  display: grid;
  text-align: center;
  margin-top: 0.5rem;
  color: #0c36a1;

  width: auto;
  height: auto;
}

.spans_required {
  color: #ff0000;
  margin-left: 3em;
  display: none;
}

@media screen and (max-width: 828px) {
  .UnBook_logo_mini {
    display: inline;

    width: 12.5em;
    height: auto;

    position: relative;

    margin-left: 10px;
    top: 20px;
  }

  .box {
    background-color: whitesmoke;
    width: 85%;
    height: 24em;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(255, 255, 255);

    display: block;
    margin: 2em;
    margin-top: 8%;

    position: relative;
    top: 4em;
  }

  .login {
    font-size: 2em;
    padding: 40px 5px 5px 40px;
    margin-left: -0.5em;
  }

  .campoFalado1 {
    font-size: 1em;
    padding-top: 15px;

    margin: 0 2em;
    display: block;
    text-align: center;
  }

  .campoFalado2 {
    font-size: 1em;
    padding: 20px 5px 5px 20px;
    margin: 0 1em;
  }

  .campoEscrito {
    font-size: 0.75em;
    border: none;
    padding: 0.5em 1em;

    width: 80%;
    height: auto;
    background-color: #d9d9d9;

    text-align: left;
    justify-content: center;
    display: block;

    margin-left: auto;
    margin-right: auto;
  }

  .spanEmail {
    color: #ff0000;
    display: none;
    margin-top: 0.5em;
    margin-left: 3em;
  }

  .botao_enviar {
    display: block;
    width: 40%;
    height: auto;

    border: none;
    border-radius: 10px;
    background-color: #0b4c9c;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    color: white;
    font-size: 1em;
    -webkit-text-stroke-width: 1px;
    cursor: pointer;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;

    transition: all 0.3s ease;
  }

  .botao_enviar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #0b4c8c;
  }

  .botao_enviar:active {
    transform: scale(0.9);
  }

  .cadastro {
    display: grid;
    text-align: center;
    margin-top: 1rem;
    color: #0c36a1;

    width: auto;
    height: auto;
  }

  .senha {
    display: grid;
    text-align: center;
    margin-top: 0.5rem;
    color: #0c36a1;

    width: auto;
    height: auto;
  }

  .spans_required {
    color: #ff0000;
    margin-left: 3em;
    display: none;
  }
}
